@model PGMEATS_WEB.Models.clsUserPrivilege

<tr>
    <td hidden="hidden">
        @Html.HiddenFor(model => model.UserID)
        @Html.HiddenFor(model => model.MenuID)
    </td>
    <td style="width:150px">
        @Html.DisplayFor(model => model.GroupID)
    </td>
    <td style="width:150px">
        @Html.DisplayFor(model => model.MenuID)
    </td>
    <td style="width:300px">
        @Html.DisplayFor(model => model.MenuDesc)
    </td>
    <td style="width:100px; text-align:center">
        <div id="checkboxaccess">
            @Html.CheckBoxFor(model => model.AllowAccess)
        </div>
    </td>
</tr>
