@model ADLESKAP.Models.SelectUserPrivilegeEditorViewModel

<tr>
    <td hidden="hidden">
        @Html.HiddenFor(model => model.GroupID)
    </td>
    <td style="width:150px">
        @Html.DisplayFor(model => model.MenuGroup)
    </td>
    <td style="width:150px">
        @Html.DisplayFor(model => model.MenuID)
        @Html.HiddenFor(model => model.MenuID)
    </td>
    <td style="width:300px">
        @Html.DisplayFor(model => model.MenuDescription)
    </td>
    <td style="width:100px; text-align:center">
        <div id="checkboxaccess">
            @Html.CheckBoxFor(model => model.AllowAccess)
        </div>
    </td>
    <td style="width:100px; text-align:center">
        <div id="checkboxupdate">
            @Html.CheckBoxFor(model => model.AllowUpdate)
        </div>
    </td>
</tr>
