@model IEnumerable<PGMEATS_WEB.Models.clsMenu>
@{

    Int32 cpcheck = 0;
}

<link rel="stylesheet" type="text/css" href="~/Content/css/font-google.css" />

<aside id="left-panel">
    <nav>
        <ul>
            <li class="@Html.RouteIf("My Complaint", "active")">
                @foreach (var menu in Model)
                {
                    if (cpcheck == 0 && menu.MenuGroup == "My Complaint")
                    {
                        <a href="#">
                            <i style="color:white; font-size:15px">
                                <span class="menu-on-top" style="font-family:'Poppins-Regular'; color:white; font-weight:400; font-size:13px">&nbsp;My Complaint</span>
                            </i>
                        </a>
                        cpcheck = cpcheck + 1;
                    }
                }


                @{
                    cpcheck = 0;
                }

                <ul>
                    @foreach (var menu in Model)
                    {
                        if (menu.GroupIndex == 1)
                        {
                            <li>
                                <a href=@menu.MenuName class="fa fa-lg">
                                    <i style="font-family:'Poppins-Regular';font-style:normal">@menu.MenuDescription</i>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </li>

            <li class="@Html.RouteIf("My News", "active")">
                @foreach (var menu in Model)
                {
                    if (cpcheck == 0 && menu.MenuGroup == "My News")
                    {
                        <a href="#">
                            <i style="color:white; font-size:15px">
                                <span class="menu-on-top" style="font-family:'Poppins-Regular'; color:white; font-weight:400; font-size:13px">&nbsp;My News</span>
                            </i>
                        </a>
                        cpcheck = cpcheck + 1;
                    }
                }

                @{
                    cpcheck = 0;
                }

                <ul>
                    @foreach (var menu in Model)
                    {
                        if (menu.GroupIndex == 2)
                        {
                            <li>
                                <a href=@menu.MenuName class="fa fa-lg">
                                    <i style="font-family:'Poppins-Regular';font-style:normal">@menu.MenuDescription</i>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </li>

            <li class="@Html.RouteIf("Survey & Polls", "active")">
                @foreach (var menu in Model)
                {
                    if (cpcheck == 0 && menu.MenuGroup == "Survey & Polls")
                    {
                        <a href="#">
                            <i style="color:white; font-size:15px">
                                <span class="menu-on-top" style="font-family:'Poppins-Regular'; color:white; font-weight:400; font-size:13px">&nbsp;Survey & Polls</span>
                            </i>
                        </a>
                        cpcheck = cpcheck + 1;
                    }
                }

                @{
                    cpcheck = 0;
                }

                <ul>
                    @foreach (var menu in Model)
                    {
                        if (menu.GroupIndex == 3)
                        {
                            <li>
                                <a href=@menu.MenuName class="fa fa-lg">
                                    <i style="font-family:'Poppins-Regular';font-style:normal">@menu.MenuDescription</i>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </li>

            <li class="@Html.RouteIf("Clinic Information", "active")">
                @foreach (var menu in Model)
                {
                    if (cpcheck == 0 && menu.MenuGroup == "Clinic Information")
                    {
                        <a href="#">
                            <i style="color:white; font-size:15px">
                                <span class="menu-on-top" style="font-family:'Poppins-Regular'; color:white; font-weight:400; font-size:13px">&nbsp;Clinic Info</span>
                            </i>
                        </a>
                        cpcheck = cpcheck + 1;
                    }
                }

                @{
                    cpcheck = 0;
                }

                <ul>
                    @foreach (var menu in Model)
                    {
                        if (menu.GroupIndex == 4)
                        {
                            <li>
                                <a href=@menu.MenuName class="fa fa-lg">
                                    <i style="font-family:'Poppins-Regular';font-style:normal">@menu.MenuDescription</i>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </li>

            <li class="@Html.RouteIf("My KY", "active")">
                @foreach (var menu in Model)
                {
                    if (cpcheck == 0 && menu.MenuGroup == "My KY")
                    {
                        <a href="#">
                            <i style="color:white; font-size:15px">
                                <span class="menu-on-top" style="font-family:'Poppins-Regular'; color:white; font-weight:400; font-size:13px">&nbsp;My KY</span>
                            </i>
                        </a>
                        cpcheck = cpcheck + 1;
                    }
                }

                @{
                    cpcheck = 0;
                }

                <ul>
                    @foreach (var menu in Model)
                    {
                        if (menu.GroupIndex == 5)
                        {
                            <li>
                                <a href=@menu.MenuName class="fa fa-lg">
                                    <i style="font-family:'Poppins-Regular';font-style:normal">@menu.MenuDescription</i>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </li>

            <li class="@Html.RouteIf("Birthday Notification", "active")">
                @foreach (var menu in Model)
                {
                    if (cpcheck == 0 && menu.MenuGroup == "Birthday Notification")
                    {
                        <a href="#">
                            <i style="color:white; font-size:15px">
                                <span class="menu-on-top" style="font-family:'Poppins-Regular'; color:white; font-weight:400; font-size:13px">&nbsp;Birthday Notification</span>
                            </i>
                        </a>
                        cpcheck = cpcheck + 1;
                    }
                }

                @{
                    cpcheck = 0;
                }

                <ul>
                    @foreach (var menu in Model)
                    {
                        if (menu.GroupIndex == 6)
                        {
                            <li>
                                <a href=@menu.MenuName class="fa fa-lg">
                                    <i style="font-family:'Poppins-Regular';font-style:normal">@menu.MenuDescription</i>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </li>

            <li class="@Html.RouteIf("security", "active")">
                @foreach (var menu in Model)
                {
                    if (cpcheck == 0 && menu.MenuGroup == "Security")
                    {
                        <a href="#">
                            <i style="color:white; font-size:15px">
                                <span class="menu-on-top" style="font-family:'Poppins-Regular'; color:white; font-weight:400; font-size:13px">&nbsp;Security</span>
                            </i>
                        </a>
                        cpcheck = cpcheck + 1;
                    }
                }

                @{
                    cpcheck = 0;
                }

                <ul>
                    @foreach (var menu in Model)
                    {
                        if (menu.GroupIndex == 7)
                        {
                            <li>
                                <a href=@menu.MenuName class="fa fa-lg">
                                    <i style="font-family:'Poppins-Regular';font-style:normal">@menu.MenuDescription</i>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </li>
        </ul>
    </nav>

    <script type="text/javascript">
        history.pushState(null, null, $(location).attr('href'));
        window.addEventListener('popstate', function () {
            history.pushState(null, null, $(location).attr('href'));
        });
    </script>

</aside>