@model PGMEATS_WEB.Models.clsMyKY
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-md-12">
                <div class="jarviswidget jarviswidget-color-red" id="wid-id-1"
                     data-widget-colorbutton="false"
                     data-widget-editbutton="false"
                     data-widget-togglebutton="false"
                     data-widget-deletebutton="false"
                     data-widget-custombutton="false"
                     data-widget-collapsed="false"
                     data-widget-sortable="false">

                    <header style="border-top-left-radius:8px; border-top-right-radius:8px">
                        <h2 style="font-family:'Poppins-Regular';font-weight:500;font-size:13px">List of MyKY</h2>
                    </header>

                    <div style="border-bottom-left-radius:8px; border-bottom-right-radius:8px">
                        <div class="widget-body">
                            <div class="table-toolbar" style="padding-bottom:10px">
                                <table>
                                    <tr style="height:45px">
                                        <td width="100px">
                                            <p style="font-weight:600; margin-right:20px">Date</p>
                                        </td>
                                        <td>
                                            <input id="fromDate" type="text" class="form-control input-md" style="background-color:white; width:150px" />
                                        </td>
                                        <td width="40px" style="text-align:center">
                                            <p style="font-weight:600">To</p>
                                        </td>
                                        <td>
                                            <input id="toDate" type="text" class="form-control input-md" style="background-color:white; width:150px" />
                                        </td>
                                        <td width="120px">
                                            <p style="font-weight:600; margin-left:20px">Status</p>
                                        </td>
                                        <td>
                                            <select id="Status" class="form-control input-md" style="height:30px; width:200px; margin-right:20px"></select>
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="font-weight:600">Location</p>
                                        </td>
                                        <td colspan="3">
                                            <select id="Location" class="form-control input-md" style="height:30px; width:340px;"></select>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                            <button class="btn btn-save" id="refresh"> Refresh </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <table id="tableID" data-page-size='3' class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr role="row">
                                        <th style="text-align:center;width:50px;">
                                            Action
                                        </th>
                                        <th style="text-align: center; width: 100px;">
                                            Date
                                        </th>
                                        <th style="text-align: center; width: 100px;">
                                            Location
                                        </th>
                                        <th style="text-align: center; width: 100px;">
                                            Specific Location
                                        </th>
                                        <th style="text-align: center; width: 300px;">
                                            Description
                                        </th>
                                        <th style="text-align: center; width: 150px;">
                                            Evindence
                                        </th>
                                        <th style="text-align: center; width: 100px;">
                                            Created By
                                        </th>
                                        <th style="text-align: center; width: 80px">
                                            Status
                                        </th>
                                        <th style="text-align: center; width: 300px;">
                                            Response
                                        </th>
                                        <th style="text-align: center; width: 100px;">
                                            Create Response
                                        </th>
                                        <th style="text-align: center; width: 100px;">
                                            Last User
                                        </th>
                                        <th style="text-align: center; width: 150px;">
                                            Last Update
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                            <div class="modal fade" id="MyModal">
                                <div class="modal-dialog" style="width:400px">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <a href="#" class="close" data-dismiss="modal">&times;</a>
                                            <h4 style="font-family:'Poppins-Regular'" id="ModalTitle"></h4>
                                        </div>
                                        <div style="padding-left:20px; padding-right:20px">
                                            <form id="form" class="smart-form">
                                                <fieldset id="SubmitForm">
                                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                    <table style="border:0px solid black; width:100%">
                                                        <tr>
                                                            <td>
                                                                <div class="form-group ">
                                                                    <label style="font-weight:500; margin-bottom:0.5em;">Date</label>
                                                                    @Html.TextBoxFor(m => m.CreateDate, new { @id = "CreateDate", @class = "form-control input-md", @style = "height:20px; width:300px;", disabled = "disabled" })
                                                                    @Html.HiddenFor(m => m.MyKYID, new { @id = "MyKYID" })
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="form-group ">
                                                                    <label style="font-weight:500; margin-bottom:0.5em;">Location</label>
                                                                    @Html.TextBoxFor(m => m.MyKYLocation, new { @id = "MyKYLocation", @class = "form-control input-md", @style = "height:20px; width:300px;", disabled = "disabled" })
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="form-group ">
                                                                    <label style="font-weight:500; margin-bottom:0.5em;">Issue Type</label>
                                                                    @Html.TextBoxFor(m => m.MyKYSpecLocation, new { @id = "MyKYSpecLocation", @class = "form-control input-md", @style = "height:20px; width:300px;", disabled = "disabled", })
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="form-group ">
                                                                    <label style="font-weight:500; margin-bottom:0.5em;">Description</label>
                                                                    @Html.TextAreaFor(m => m.MyKYDesc, new { @id = "MyKYDesc", @class = "form-control input-md", @style = "height:100px; width:300px;", disabled = "disabled" })
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="form-group ">
                                                                    <label style="font-weight:500; margin-bottom:0.5em;">Created By</label>
                                                                    @Html.TextBoxFor(m => m.CreateUser, new { @id = "CreateUser", @class = "form-control input-md", @style = "height:20px; width:300px;", disabled = "disabled" })
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="form-group ">
                                                                    <label style="font-weight:500; margin-bottom:0.5em;"> Response </label>
                                                                    @Html.TextAreaFor(m => m.MyKYReply, new { @id = "MyKYReply", @class = "form-control input-md", @placeholder = "Enter your response", @style = "height:100px; width:300px;" })
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </fieldset>
                                            </form>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal" style="width:85px; font-size:13px; border-width:thin;" onclick="">Cancel</button>
                                            @if (ViewBag.AllowWrite == "0")
                                            {
                                                <button type="button" class="btn btn-save" id="InsertData" style="width:85px; font-size:13px" disabled>Save</button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-save" id="InsertData" style="width:85px; font-size:13px;">Save</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="DeleteConfirmation">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <a href="#" class="close" data-dismiss="modal">&times;</a>
                                            <h4 style="font-family:'Poppins-Regular'">Delete Data MyKY</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h4 style="font-family:'Poppins-Regular'">Are you sure to delete this data?</h4>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="#" class="btn btn-save" style="width:85px; font-size:13px" id="DeleteData">Confirm</a>
                                            <a href="#" class="btn btn-default" style="width: 85px; font-size: 13px; border-width: thin;" data-dismiss="modal" id="DeleteCancel">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="ShowImg">
                                <div class="modal-dialog" style="width:360px;">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <a href="#" class="close" data-dismiss="modal">&times;</a>
                                        </div>
                                        <div class="modal-body" style="display:flex; justify-content:center">
                                            <img src="#" alt=Evidence id="EvidenceShow" style="height: 300px; width: 300px; max-width: 300%; max-height: 100%; object-fit: cover;" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>


<style type="text/css">
    a.disable {
        cursor: not-allowed;
    }

    .hidden {
        display: none;
    }

    .txtAlignCenter {
        text-align: center;
    }

    .txtAlignLeft {
        text-align: left;
    }

    .txtAlignRight {
        text-align: right;
    }

    .btn-save {
        color: #fff;
        background-color: #4CBFBC;
        border-color: #4CBFBC;
    }
</style>

<link rel="stylesheet" href="~/Content/zebra_datepicker.min.css" type="text/css">
<script src="~/Scripts/plugin/bootstrap-waitingfor/bootstrap-waitingfor.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap/bootstrap.min.js"></script>
<script src="~/Scripts/zebra_datepicker.min.js"></script>
<script src="~/Scripts/zebra_datepicker.src.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        FillCombo_Loc();
        FillCombo_Status()

        $("#fromDate").val(today)
        $("#toDate").val(today)

        millisecondsToWait = 2000;
        setTimeout(function () {
            loadData(); //Get list complaint
        }, millisecondsToWait);

        /* BASIC ;*/
        var responsiveHelper_dt_basic = undefined;
        var breakpointDefinition = {
            tablet: 1024,
            phone: 480
        };

        $("#tableID").dataTable({
            bDestroy: true,
            data: [],
            columns: [
                {
                    "data": "Action", className: "txtAlignCenter", "render": function (data, type, row) {
                        return '<a href="#" class="fa fa-pencil" onclick="ReplyMyKY(\'' + row.MyKYID + '|' + row.CreateDate + '|' + row.MyKYLocationDesc + '|' + row.MyKYSpecLocation + '|' + row.MyKYDesc + '|' + row.CreateUser + '\')"></a> &nbsp; | &nbsp; <a href="#" class="fa fa-trash-o" onclick="DeleteMyKY(\'' + row.MyKYID + '\')"></a>'
                    }
                },
                { "data": "CreateDate", "autoWidth": true, className: "txtAlignCenter" },
                { "data": "MyKYLocationDesc", "autoWidth": true, className: "txtAlignCenter" },
                { "data": "MyKYSpecLocation", "autoWidth": true, className: "txtAlignCenter" },
                { "data": "MyKYDesc", "autoWidth": true, className: "txtAlignLeft" },
                {
                    "data": "FileName", className: "txtAlignLeft", "render": function (data, type, row) {
                        return '<a href="#" onclick="ImgShow(\'' + row.Evidence + '\')">' + row.Evidence + '</a>'
                    }
                },
                { "data": "CreateUser", "autoWidth": true, className: "txtAlignCenter" },
                { "data": "MyKYStatusDesc", "autoWidth": true, className: "txtAlignCenter" },
                { "data": "MyKYReply", "autoWidth": true, className: "txtAlignLeft" },
                { "data": "LastUser", "autoWidth": true, className: "txtAlignCenter" },
                { "data": "LastUser", "autoWidth": true, className: "txtAlignCenter" },
                { "data": "LastUpdate", "autoWidth": true, className: "txtAlignCenter" },
            ],

            rowCallback: function (row, data) { responsiveHelper_dt_basic.createExpandIcon(row) },
            filter: true,
            info: true,
            ordering: true,
            processing: true,
            retrieve: true,
            bLengthChange: false,
            lengthMenu: [[15, 20, -1], [15, 20, "All"]],
            bFilter: true,
            bSort: true,
            bPaginate: true,
            scrollX: false,
            //scrollX: "100%",
            //scrollY: "350px",
            autoWidth: true,
            preDrawCallback: function () {
                // Initialize the responsive datatables helper once.
                if (!responsiveHelper_dt_basic) {
                    responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#tableID'), breakpointDefinition);
                }
            },
            drawCallback: function (oSettings) {
                responsiveHelper_dt_basic.respond();
            }
        });
    });

    function loadData() {
        //var fromDate = $("#fromDate").val();
        //var toDate = $("#toDate").val();
        var location = $("#Location").val();
        var status = $("#Status").val();

        var months = {
            Jan: "01", Feb: "02", Mar: "03", Apr: "04", May: "05", Jun: "06",
            Jul: "07", Aug: "08", Sep: "09", Oct: "10", Nov: "11", Dec: "12"
        };

        var pfromDate = $("#fromDate").val().split(' ');
        var fromDate = pfromDate[2] + "-" + months[pfromDate[1]] + "-" + pfromDate[0]; //convert date to format "yyyy-mm-dd"

        var ptoDate = $("#toDate").val().split(' ');
        var toDate = ptoDate[2] + "-" + months[ptoDate[1]] + "-" + ptoDate[0]; //convert date to format "yyyy-mm-dd"

        var formdata = new FormData();
        formdata.append("FromDate", fromDate);
        formdata.append("toDate", toDate);
        formdata.append("MyKYLocation", location);
        formdata.append("MyKYStatus", status);

        waitingDialog.show("Please wait retrieving data...");
        $.ajax({
            type: "POST",
            url: "/MyKY/ReplyMyKYList/",
            contentType: false,
            processData: false,
            data: formdata,
            success: function (result) {
                if (result.Message.toLowerCase().includes("success")) {
                    if (result.Contents != "") {
                        Object.values(result.Contents).forEach(function (dt) {
                            $("#tableID").DataTable().clear();
                            $("#tableID").DataTable().rows.add(result.Contents).draw(false);
                            setTimeout(function () {
                                waitingDialog.hide();
                            }, 1000);
                        });
                    } else {
                        setTimeout(function () {
                            waitingDialog.hide();
                        }, 1000);
                    }
                }
                else {
                    toastr.warning(result.Message, 'Warning', { timeOut: 3000, closeButton: true });
                    setTimeout(function () {
                        waitingDialog.hide();
                    }, 1000);
                }
            },
            error: function (ex) {
                toastr.error(ex, 'Failed', { timeOut: 3000, "closeButton": true });
                setTimeout(function () {
                    waitingDialog.hide();
                }, 1000);
            }
        });
    }

    $('#fromDate').Zebra_DatePicker({
        format: 'd M Y', //'d M Y'
        onSelect: function () {
            $(this).change();
        }
    });

    $('#toDate').Zebra_DatePicker({
        format: 'd M Y', //'d M Y'
        onSelect: function () {
            $(this).change();
        }
    });

    var d = new Date();
    var month = new Array();
    month[0] = "Jan";
    month[1] = "Feb";
    month[2] = "Mar";
    month[3] = "Apr";
    month[4] = "May";
    month[5] = "Jun";
    month[6] = "Jul";
    month[7] = "Aug";
    month[8] = "Sep";
    month[9] = "Oct";
    month[10] = "Nov";
    month[11] = "Dec";

    var dd = String(d.getDate()).padStart(2, '0');
    var dmonth = month[d.getMonth()];
    var dyear = d.getFullYear()
    var today = dd + " " + dmonth + " " + dyear


    $("#refresh").click(function () {
        loadData();

        //load datatable function
    })

    function ReplyMyKY(data) {
        var myKYID = data.split('|')[0];
        var createDate = data.split('|')[1];
        var myKYLoc = data.split('|')[2];
        var myKYSpecLoc = data.split('|')[3];
        var myKYDesc = data.split('|')[4];
        var createUser = data.split('|')[5];

        clearTextBox();
        $("#ModalTitle").html("Response MyKY");
        $("#MyModal").modal();
        $("#CreateDate").val(createDate);
        $("#MyKYID").val(myKYID);
        $("#MyKYLocation").val(myKYLoc);
        $("#MyKYSpecLocation").val(myKYSpecLoc);
        $("#MyKYDesc").val(myKYDesc);
        $("#CreateUser").val(createUser);
    }

    $("#InsertData").click(function () {
        var MyKYID = $("#MyKYID").val();
        var complaintReply = $("#MyKYReply").val();

        if (complaintReply == "") {
            toastr.warning("Please, enter your response!", 'Warning', { timeOut: 3000, closeButton: true });
        } else {
            var formdata = new FormData();
            formdata.append("MyKYID", MyKYID);
            formdata.append("MyKYReply", complaintReply);

            $.ajax({
                type: "POST",
                url: "/MyKY/ReplyMyKYUpd/",
                contentType: false,
                processData: false,
                data: formdata,
                success: function (result) {
                    if (result.Message.toLowerCase().includes("success")) {
                        toastr.success(result.Message, 'Success', { timeOut: 3000, closeButton: true });
                        $('#MyModal').modal('hide');
                        millisecondsToWait = 1000;
                        setTimeout(function () {
                            loadData();
                        }, millisecondsToWait);
                    }
                    else {
                        toastr.warning(result.Message, 'Warning', { timeOut: 3000, closeButton: true });
                    }
                },
                error: function (ex) {
                    toastr.error(ex, 'Failed', { timeOut: 3000, "closeButton": true });
                }
            });
        }
    })

    function DeleteMyKY(data) {
        $("#MyKYID").val(data);
        $("#DeleteConfirmation").modal("show");
    }

    $("#DeleteData").click(function () {
        var MyKYID = $("#MyKYID").val();
        $.ajax({
            type: "POST",
            url: "/MyKY/ReplyMyKYDel/",
            datatype: 'json',
            data: { MyKYID: MyKYID },
            success: function (result) {
                if (result.Message.toLowerCase().includes("success")) {
                    toastr.success(result.Message, 'Success', { timeOut: 3000, closeButton: true });
                    $('#DeleteConfirmation').modal('hide');
                    setTimeout(function () {
                        loadData();
                    }, 3000);
                } else {
                    toastr.warning(result.Message, 'Warning', { timeOut: 3000, closeButton: true });
                }
            },
            error: function (ex) {
                toastr.error(ex, 'Failed', { timeOut: 3000, "closeButton": true });
            }
        });
    })

    function FillCombo_Loc() {
        $.ajax({
            type: "POST",
            url: "/MyKY/FillCombo/",
            datatype: 'json',
            data: { Type: "CostCenter" },
            success: function (result) {
                if (result.Message.toLowerCase().includes("success")) {
                    $('#Location').empty();
                    $.each(result.Contents, function (i, dt) {
                        $("#Location").append('<option value="' + dt.Code + '">' + dt.Description + '</option>');
                    });
                } else {
                    toastr.warning(result.Message, 'Warning', { timeOut: 3000, closeButton: true });
                }
            },
            error: function (ex) {
                toastr.error(ex, 'Failed', { timeOut: 3000, "closeButton": true });
            }
        });
    }

    function FillCombo_Status() {
        $.ajax({
            type: "POST",
            url: "/MyKY/FillCombo/",
            datatype: 'json',
            data: { Type: "MyKYStatus" },
            success: function (result) {
                if (result.Message.toLowerCase().includes("success")) {
                    $('#Status').empty();
                    $.each(result.Contents, function (i, dt) {
                        $("#Status").append('<option value="' + dt.Code + '">' + dt.Description + '</option>');
                    });
                } else {
                    toastr.warning(result.Message, 'Warning', { timeOut: 3000, closeButton: true });
                }
            },
            error: function (ex) {
                toastr.error(ex, 'Failed', { timeOut: 3000, "closeButton": true });
            }
        });
    }


    function clearTextBox() {
        $("#CreateDate").val('');
        $("#MyKYLocation").val('');
        $("#MyKYSpecLocation").val('');
        $("#MyKYDesc").val('');
        $("#CreateUser").val('');
        $("#MyKYReply").val('');
    }

    function ImgShow(data) {
        var FileName = data.split('|')[0];

        $("#ShowImg").modal();
        var path = "/Image/MyKY/" + FileName;
        document.getElementById('EvidenceShow').src = path;
    }

</script>

