
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .hidden {
        display: none;
    }

    .txtAlignCenter {
        text-align: center;
    }

    .txtAlignLeft {
        text-align: left;
    }

    .btn-save {
        color: #fff;
        background-color: #4CBFBC;
        border-color: #4CBFBC;
    }

    .answer-type {
        display: block;
    }

    .answer-type-hide {
        display: none;
    }

    .parent-hide {
        display: none;
    }

    .blank-hide {
        display: none;
    }


    .form-check {
        display: block;
        min-height: 1.5rem;
        padding-left: 1.5em;
        margin-bottom: 0.125rem;
    }

    .form-check-label {
        font-size: 1.5rem !important;
        font-weight: 400 !important;
        line-height: 1.5;
        -webkit-text-size-adjust: 100%;
        margin-left: 5px;
        margin-top: 1px;
    }

    .form-check .form-check-input {
        float: left;
        margin-left: -1.5em;
    }

    .form-check-input {
        width: 1.5em;
        height: 1.5em;
        margin-top: 0.25em !important;
        vertical-align: top;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: 1px solid rgba(0, 0, 0, 0.25);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }

    .form-check-input[type=checkbox] {
        border-radius: 0.25em;
    }

    .form-check-input[type=radio] {
        border-radius: 50%;
    }

    .form-check-input:active {
        filter: brightness(90%);
    }

    .form-check-input:focus {
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    }

    .form-check-input:checked {
        background-color: #0d6efd;
        border-color: #0d6efd;
    }

    .form-check-input:checked[type=checkbox] {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
    }

    .form-check-input:checked[type=radio] {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
    }

    .form-check-input[type=checkbox]:indeterminate {
        background-color: #0d6efd;
        border-color: #0d6efd;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
    }

    .form-check-input:disabled {
        pointer-events: none;
        filter: none;
        opacity: 0.5;
    }

    .form-check-input[disabled] ~ .form-check-label, .form-check-input:disabled ~ .form-check-label {
        opacity: 0.5;
    }

    .was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
        color: #198754;
    }

    .was-validated .form-check-input:invalid ~ .form-check-label, .form-check-input.is-invalid ~ .form-check-label {
        color: #dc3545;
    }
</style>

<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-md-12">
                <div class="jarviswidget jarviswidget-color-red" id="wid-id-1" data-widget-colorbutton="false"
                     data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false"
                     data-widget-custombutton="false" data-widget-collapsed="false" data-widget-sortable="false">
                    <header style="border-top-left-radius:8px; border-top-right-radius:8px">
                        <h2 style="font-family:'Poppins-Regular';font-weight:500;font-size:15px">
                            Create Survey & Polls
                        </h2>
                    </header>

                    <div style="border-bottom-left-radius:8px; border-bottom-right-radius:8px">
                        <div style="padding: 5px 5px 5px 5px">
                            <div class="table-toolbar" style="padding-bottom:10px">
                                <table>
                                    <tr style="height:35px">
                                        <td width="150px">
                                            Survey ID
                                        </td>
                                        <td width="250px">
                                            <input id="txtsurveyid" type="text" class="form-control" style="background-color: #e9ecef !important; color:black !important; width:80px" />
                                        </td>
                                    </tr>
                                    <tr style="height:35px">
                                        <td width="150px">
                                            Survey Title
                                        </td>
                                        <td>
                                            <input id="txttitle" type="text" class="form-control input-md" style="background-color:white; width:240px" />
                                        </td>
                                    </tr>
                                    <tr style="height:35px">
                                        <td width="150px">
                                            Target Department
                                        </td>
                                        <td>
                                            <div style="display:flex">
                                                <input id="txtdepartment" type="text" class="form-control input-md" style="background-color: white; width: 240px; background-color: #e9ecef !important;" disabled />
                                                <button id="btnNewDept" class="btn borderradiusbtn" style="font-family: 'Poppins-Regular'; font-size: 15px; font-weight: bold; background-color: #ff9933; margin: 3px 0px 0px 5px; padding: 1px 1px 10px; width: 30px; height: 25px !important;" data-toggle="modal" onclick="AddDepartment()"><span style="color:white">...</span></button> @*data-target="#mdlDepartment"*@
                                            </div>
                                        </td>
                                    </tr>
                                    <tr style="height:35px">
                                        <td width="150px">
                                            Target Designation
                                        </td>
                                        <td>
                                            <div style="display:flex">
                                                <input id="txtdesignation" type="text" class="form-control input-md" style="background-color: white; width: 240px; background-color: #e9ecef !important;" disabled />
                                                <button id="btnNewDesign" class="btn borderradiusbtn" style="font-family: 'Poppins-Regular'; font-size: 15px; font-weight: bold; background-color: #ff9933; margin: 3px 0px 0px 5px; padding: 1px 1px 10px; width: 30px; height: 25px !important;" data-toggle="modal" onclick="Adddesignation()"><span style="color:white">...</span></button> @*data-target="#mdlDepartment"*@
                                            </div>
                                        </td>
                                    </tr>
                                    <tr style="height:35px">
                                        <td width="150px">
                                            Start Date
                                        </td>
                                        <td>
                                            <input id="startdate" type="text" class="form-control input-md" style="background-color:white; width:130px" />
                                        </td>
                                    </tr>
                                    <tr style="height:35px">
                                        <td width="150px">
                                            End Date
                                        </td>
                                        <td>
                                            <input id="enddate" type="text" class="form-control input-md" style="background-color:white; width:130px" />
                                        </td>
                                    </tr>
                                    <tr style="height:35px">
                                        <td width="150px">Type</td>
                                        <td>
                                            <select id="Type" class="form-control input-md" style="height: 30px; width: 130px; padding: 3px 3px 3px 7px !important;">
                                                <option value=""></option>
                                                <option value="S">Survey</option>
                                                <option value="P">Polls</option>
                                            </select>

                                        </td>
                                    </tr>
                                    <tr style="height:35px">
                                        <td width="150px">
                                            View Result
                                        </td>
                                        <td>
                                            <input id="chkViewChart" name="chkViewChart" type="checkbox" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <table style="width: 100%;">
                                <tr style="height: 50px">
                                    <td>
                                        <button id="btnBack" class="btn borderradiusbtn" style="font-family: 'Poppins-Regular'; font-size: 15px; font-weight: 500; background-color: #4CBFBC; width:85px" data-toggle="modal" data-target="#myModal" onclick="backtolist()"><span style="color:white">Back</span></button>
                                        <button id="btnSave" class="btn borderradiusbtn" style="font-family: 'Poppins-Regular'; font-size: 15px; font-weight: 500; background-color: #4CBFBC; width:85px" onclick="SaveHeader()"><span style="color:white">Save</span></button>
                                        <button id="btnFinalized" class="btn borderradiusbtn" style="font-family: 'Poppins-Regular'; font-size: 15px; font-weight: 500; background-color: #00db11; width: 85px" onclick="Finalized()"><span style="color:white">Finalized</span></button>
                                    </td>
                                </tr>
                            </table>
                            <table style="width: 100%;">
                                <tr style="height: 50px">
                                    <td>
                                        <button id="btnNew" class="btn borderradiusbtn" style="font-family: 'Poppins-Regular'; font-size: 15px; font-weight: 500; background-color: #4CBFBC; width:85px" data-toggle="modal" data-target="#myModal" onclick="AddNewData()"><span style="color:white">New</span></button>
                                    </td>
                                </tr>
                            </table>

                            <table id="tableID" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;width: 12%">Action</th>
                                        <th style="text-align: center" class="hidden">
                                            ID
                                        </th>
                                        <th style="text-align: center" class="hidden">
                                            Question ID
                                        </th>
                                        <th style="text-align: center" class="hidden">
                                            Survey ID
                                        </th>
                                        <th style="text-align: center" class="hidden">
                                            Question Seq No
                                        </th>
                                        <th style="text-align: center; width: 300px;">
                                            Question Description
                                        </th>
                                        <th style="text-align: center; width: 100px">
                                            Parent Question ID
                                        </th>
                                        <th style="text-align: center; width: 100px">
                                            Parent Answer Seq No
                                        </th>
                                    </tr>
                                </thead>
                            </table>

                            @*Create A Popup Modal*@
                            <div class="modal fade" id="MyModal">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <a href="#" class="close" data-dismiss="modal">&times;</a>
                                            <h4 style="font-family:'Poppins-Regular' !important" id="ModalTitle"></h4>
                                        </div>

                                        <div class="modal-body">
                                            <form id="form" class="smart-form">

                                                <div class="table-toolbar" style="padding-bottom:10px">
                                                    <table>
                                                        <tr style="height:35px" id="trParent">
                                                            <td width="100px">
                                                                Parent Question
                                                            </td>
                                                            <td>
                                                                <select id="ParentQuestion" class="form-control input-md" style="height: 20px; width: 240px; font-family: 'Segoe UI'; font-weight: 500;"></select>
                                                            </td>
                                                        </tr>
                                                        <tr id="trblank">
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr style="height:35px" id="trAnswer">
                                                            <td width="100px">
                                                                Parent Answer
                                                            </td>
                                                            <td>
                                                                <select id="ParentAnswer" class="form-control input-md" style="height: 20px; width: 240px; font-family: 'Segoe UI'; font-weight: 500;"></select>
                                                            </td>
                                                        </tr>
                                                        <tr id="trblankAnswer">
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr style="height:35px">
                                                            <td width="100px">
                                                                Question ID
                                                            </td>
                                                            <td>
                                                                <input id="txtQuestionID" type="text" class="form-control" style="background-color: #e9ecef !important; color:black !important; width:40px; height:20px !important;" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr style="height:35px">
                                                            <td width="100px" style="vertical-align:top">
                                                                Question Description
                                                            </td>
                                                            <td>
                                                                <textarea id="QuestionDescription" class="form-control input-md" style="background-color: white; width: 363px; height: 166px; resize: none;"></textarea>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr style="height:35px">
                                                            <td width="100px">
                                                                Answer Type
                                                            </td>
                                                            <td>
                                                                <select id="AnswerType" class="form-control input-md" style="height: 20px; width: 240px; font-family: 'Segoe UI'; font-weight: 500; padding: 3px 3px 3px 7px !important;"></select>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                    </table>
                                                    <table id="tblMulti" class="answer-type">
                                                        <tr style="height:35px">
                                                            <td width="115px">
                                                                Multiple Choice
                                                            </td>
                                                            <td>
                                                                <input id="txtmlt1" type="text" class="form-control input-md" style="background-color:white; width:240px" onkeydown="answerCheck(this, event)"/>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr style="height:35px">
                                                            <td width="100px">
                                                            </td>
                                                            <td>
                                                                <input id="txtmlt2" type="text" class="form-control input-md" style="background-color:white; width:240px" onkeydown="answerCheck(this, event)"/>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr style="height:35px">
                                                            <td width="100px">
                                                            </td>
                                                            <td>
                                                                <input id="txtmlt3" type="text" class="form-control input-md" style="background-color:white; width:240px" onkeydown="answerCheck(this, event)"/>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr style="height:35px">
                                                            <td width="100px">
                                                            </td>
                                                            <td>
                                                                <input id="txtmlt4" type="text" class="form-control input-md" style="background-color:white; width:240px" onkeydown="answerCheck(this, event)"/>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>

                                            </form>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal" style="width:85px; font-size:13px; border-width:thin;">Cancel</button>
                                            @if (ViewBag.AllowWrite == "0")
                                            {
                                                <button type="button" class="btn btn-save" id="InsertData" style="width:85px; font-size:13px" disabled onclick="savequestionanswer()">Save</button>
                                                <button type="button" class="btn btn-save" id="UpdateData" style="width:85px; font-size:13px; display:none;" disabled onclick="Updatequestionanswer()">Update</button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-save" id="InsertData" style="width:85px; font-size:13px" onclick="savequestionanswer()">Save</button>
                                                <button type="button" class="btn btn-save" id="UpdateData" style="width:85px; font-size:13px; display:none;" onclick="Updatequestionanswer()">Update</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="mdlDepartment">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <a href="#" class="close" data-dismiss="modal">&times;</a>
                                            <h4 style="font-family:'Poppins-Regular' !important">Select Department</h4>
                                        </div>

                                        <div class="modal-body">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="ALL" name="ALL" id="chkAllDept">
                                                <label class="form-check-label" for="ALL">ALL</label>
                                            </div>
                                            <div id="departmentList" style="display:flex;">

                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal" style="width:85px; font-size:13px; border-width:thin;">Cancel</button>
                                            @if (ViewBag.AllowWrite == "0")
                                            {
                                                <button type="button" class="btn btn-save" id="SelectedDept" style="width:85px; font-size:13px" disabled onclick="AddSelectedDept()">Add</button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-save" id="SelectedDept" style="width:85px; font-size:13px" onclick="AddSelectedDept()">Add</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="mdlDesignation">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <a href="#" class="close" data-dismiss="modal">&times;</a>
                                            <h4 style="font-family:'Poppins-Regular' !important">Select Designation</h4>
                                        </div>

                                        <div class="modal-body">
                                            <div class="modal-body">
                                                <div id="designationList" style="display:flex;">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal" style="width:85px; font-size:13px; border-width:thin;">Cancel</button>
                                            @if (ViewBag.AllowWrite == "0")
                                            {
                                                <button type="button" class="btn btn-save" id="SelectedDesign" style="width:85px; font-size:13px" disabled onclick="AddSelectedDesign()">Add</button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-save" id="SelectedDesign" style="width:85px; font-size:13px" onclick="AddSelectedDesign()">Add</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
    <input type="hidden" id="hdnParentAnswer" />
</div>

<link rel="stylesheet" href="~/Content/zebra_datepicker.min.css" type="text/css">
<script src="~/Scripts/plugin/bootstrap-waitingfor/bootstrap-waitingfor.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap/bootstrap.min.js"></script>
<script src="~/Scripts/zebra_datepicker.min.js"></script>
<script src="~/Scripts/zebra_datepicker.src.js"></script>
<script src="~/Scripts/plugin/summernote/summernote.min.js"></script>

@section pagespecific
{
    <script>
        $(document).ready(function () {
            loadData();

            $('#startdate').Zebra_DatePicker({
                format: 'd M Y', //'d M Y'
                onSelect: function () {
                    $(this).change();
                }
            });
            $('#enddate').Zebra_DatePicker({
                format: 'd M Y', //'d M Y'
                onSelect: function () {
                    $(this).change();
                }
            });

            var d = new Date();
            var month = new Array();
            month[0] = "Jan";
            month[1] = "Feb";
            month[2] = "Mar";
            month[3] = "Apr";
            month[4] = "May";
            month[5] = "Jun";
            month[6] = "Jul";
            month[7] = "Aug";
            month[8] = "Sep";
            month[9] = "Oct";
            month[10] = "Nov";
            month[11] = "Dec";
            var responsiveHelper_dt_basic = undefined;
            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };

            $("#tableID").dataTable({
                bDestroy: true,
                data: [],
                columns: [
                    {
                        "data": "Action", className: "txtAlignCenter", "render": function (data, type, row) {
                            if ('@ViewBag.AllowUpdate' == '0') {
                                return '<a href="#" class="fa fa-pencil disable"></a> &nbsp; | &nbsp; <a class="fa fa-trash-o disable"></a>'
                            } else {
                                return '<a href="#" class="fa fa-pencil" onclick="EditRecord(\'' + row.ID + '\')"></a> &nbsp; | &nbsp; <a href="#" class="fa fa-trash-o" onclick="DeleteRecord(\'' + row.ID + '\')"></a>'
                            }
                        }
                    },
                    { "data": "ID", "autoWidth": true, className: "hidden" },
                    { "data": "QuestionID", "autoWidth": true, className: "hidden" },
                    { "data": "SurveyID", "autoWidth": true, className: "hidden" },
                    { "data": "QuestionSeqNo",     className: "hidden" },
                    { "data": "QuestionDesc",      className: "txtAlignLeft" },
                    { "data": "ParentQuestionID",  className: "txtAlignCenter" },
                    { "data": "ParentAnswerSeqNo", className: "txtAlignCenter" }
                ],
                rowCallback: function (row, data) { responsiveHelper_dt_basic.createExpandIcon(row) },
                filter: true,
                info: true,
                ordering: true,
                processing: true,
                retrieve: true,
                bLengthChange: false,
                lengthMenu: [[15, 20, -1], [15, 20, "All"]],
                searching: true,
                bFilter: true,
                bSort: true,
                bPaginate: true,
                //scrollX: false,
                //scrolly: false,
                scrollX: "100%",
                scrollY: "350px",
                autoWidth: true,
                preDrawCallback: function () {
                    if (!responsiveHelper_dt_basic) {
                        responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#tableID'), breakpointDefinition);
                    }
                },
                drawCallback: function (oSettings) {
                    responsiveHelper_dt_basic.respond();
                }
            });

            function loadData() {
                getsurveyid();
                FillCombo_SurveyTitle('SurveyPoll_Title', '');
                waitingDialog.show("Please wait retrieving data...");
                var SurveyID = $("#txtsurveyid").val();
                $.ajax({
                    url: "@Url.Action("SurveyAndPollsDetail", "SurveyPollsList")",
                    type: "post",
                    dataType: "json",
                    data: { param: SurveyID },
                }).done(function (result) {
                    $("#tableID").DataTable().clear();

                    if (result.ID == '0') {
                        toastr.error(result.Message, 'Error', { timeOut: 3000, "closeButton": true });
                    }
                    else {
                        $("#tableID").DataTable().rows.add(result.Contents).draw(false);
                    }

                    setTimeout(function () {
                        waitingDialog.hide();
                    }, 1000);

                }).fail(function (jqXHR, textStatus, errorThrown) {
                    setTimeout(function () {
                        waitingDialog.hide();
                    }, 1000);
                });

            }

        })

        function getsurveyid() {
            $.ajax({
                    url: "@Url.Action("getsurveyid", "SurveyPollsList")",
                    type: "post",
                    dataType: "json"
            }).done(function (result) {
                $("#txtsurveyid").val(result.Contents);

                setTimeout(function () {
                    waitingDialog.hide();
                }, 1000);

            }).fail(function (jqXHR, textStatus, errorThrown) {
                setTimeout(function () {
                    waitingDialog.hide();
                }, 1000);
            });
        }
        function AddNewData() {
            $('#ParentQuestion').empty();
            var SurveyID = $("#txtsurveyid").val();
            var SurveyTitle = $("#txttitle").val();
            var Department = $("#txtdepartment").val();
            var Designation = $("#txtdesignation").val();
            var StartDate = $("#startdate").val();
            var EndDate = $("#enddate").val();
            var Type = $("#Type").val();
            if (SurveyTitle == null || SurveyTitle == "") {
                toastr.warning("Please fill survey tittle", 'Warning', { timeOut: 3000, "closeButton": true });
                $("#txttitle").focus();
                return
            }
            if (Department == null || Department == "") {
                toastr.warning("Please select target department", 'Warning', { timeOut: 3000, "closeButton": true });
                $("#btnNewDept").focus();
                return
            }
            if (Designation == null || Designation == "") {
                toastr.warning("Please select target designation", 'Warning', { timeOut: 3000, "closeButton": true });
                $("#btnNewDesign").focus();
                return
            }
            if (StartDate == null || StartDate == "") {
                toastr.warning("Please select start date", 'Warning', { timeOut: 3000, "closeButton": true });
                $("#startdate").focus();
                return
            }
            if (EndDate == null || EndDate == "") {
                toastr.warning("Please select end date", 'Warning', { timeOut: 3000, "closeButton": true });
                $("#enddate").focus();
                return
            }
            if (Type == null || Type == "") {
                toastr.warning("Please select type", 'Warning', { timeOut: 3000, "closeButton": true });
                $("#Type").focus();
                return
            }
            saveSurvey();
            var QuestionID;
            $.ajax({
                url: "@Url.Action("getQuestionID", "SurveyPollsList")",
                type: "post",
                dataType: "json",
                data: { param: SurveyID },
            }).done(function (result) {

                $("#txtQuestionID").val(result.Contents);
                QuestionID = result.Contents
                var Qid = QuestionID;
                if (Qid == "1") {
                    $("#trParent").addClass("parent-hide");
                    $("#trblank").addClass("blank-hide");

                    $("#trAnswer").addClass("parent-hide");
                    $("#trblankAnswer").addClass("blank-hide");
                } else {
                    $("#trParent").removeClass("parent-hide");
                    $("#trblank").removeClass("blank-hide");

                    $("#trAnswer").removeClass("parent-hide");
                    $("#trblankAnswer").removeClass("blank-hide");
                }
                setTimeout(function () {
                    waitingDialog.hide();
                }, 1000);

            }).fail(function (jqXHR, textStatus, errorThrown) {
                //toastr.error(jqXHR.status + " : " + jqXHR.responseText, 'Error', { timeOut: 3000, "closeButton": true });
                setTimeout(function () {
                    waitingDialog.hide();
                }, 1000);
            });

            $("#ModalTitle").html("Create Question Survey & Polls");
            $("#MyModal").modal();
            $('#InsertData').show();
            $('#UpdateData').hide();
            $('#InsertData').prop("disabled", true);
            $('#UpdateData').prop("disabled", true);
            FillCombo_ParentQuestion(SurveyID);
            fillCombo_ParentAnswer()
            FillCombo_AnswerType();
            var type = $("#AnswerType").val();
            $("#tblMulti").removeClass("answer-type");
            $("#tblMulti").removeClass("answer-type-hide");
            $("#tblMulti").addClass("answer-type");

            textbox_Clear()

        };
        function AddDepartment() {
            $.ajax({
                url: "@Url.Action("fillDepartment", "SurveyPollsList")",
                type: "post",
                dataType: "json",
                /*data: { SurveyID: SurveyID },*/
                success: function (result) {
                    $('#departmentList').empty();
                    var content = '';
                    if (result.ID == '0') {
                        toastr.warning(result.Message, 'Warning', { timeOut: 3000, closeButton: true, positionClass: "toast-top-full-width" });
                    } else {
                        var count = 1;
                        var v = 1;
                        var dep = $("#txtdepartment").val().split(";");
                        //debugger
                        $.each(result.Contents, function (index, value) {
                            if (count == 1) {
                                content += '<div style="width:120px">\n'
                            }
                            content += '    <div class="form-check">\n'
                            if (dep.length == 1) {
                                if (dep[0] == value.Code) {
                                    content += '        <input class="form-check-input" type="checkbox" value="' + value.Code + '" id="' + value.Code + '" checked="checked">\n'
                                } else {
                                    content += '        <input class="form-check-input" type="checkbox" value="' + value.Code + '" id="' + value.Code + '">\n'
                                }
                            } else {
                                var xi = 0
                                for (kk = 0; kk < dep.length; kk++) {
                                    if (dep[kk] == value.Code) {
                                        content += '        <input class="form-check-input" type="checkbox" value="' + value.Code + '" id="' + value.Code + '" checked="checked">\n'
                                        xi += 1;
                                    }
                                }
                                if (xi == 0) {
                                    content += '        <input class="form-check-input" type="checkbox" value="' + value.Code + '" id="' + value.Code + '">\n'
                                }
                            }

                            content += '        <label class="form-check-label" for="' + value.Code + '">' + value.Code + '\n'
                            content += '        </label>\n'
                            content += '    </div>\n'
                            if (count == 10 || v == result.Contents.length) {
                                content += '</div>\n'
                                count = 0
                            }
                            count += 1;
                            v += 1;
                        });
                    }
                    $('#departmentList').html(content);
                },
                error: function (ex) {
                    toastr.error(ex, 'Failed', { timeOut: 3000, "closeButton": true });
                    setTimeout(function () {
                        waitingDialog.hide();
                    }, 1000);
                }
            });
            $("#mdlDepartment").modal();
            $('#SelectedDept').show();
        }
        function Adddesignation() {
            $.ajax({
                url: "@Url.Action("fillDesignation", "SurveyPollsList")",
                type: "post",
                dataType: "json",
                /*data: { SurveyID: SurveyID },*/
                success: function (result) {
                    $('#designationList').empty();
                    var content = '';
                    if (result.ID == '0') {
                        toastr.warning(result.Message, 'Warning', { timeOut: 3000, closeButton: true, positionClass: "toast-top-full-width" });
                    } else {
                        var count = 1;
                        var v = 1;
                        var dep = $("#txtdesignation").val().split(";");
                        $.each(result.Contents, function (index, value) {
                            if (count == 1) {
                                content += '<div style="width:120px">\n'
                            }
                            content += '    <div class="form-check">\n'
                            if (dep.length == 1) {
                                if (dep[0] == value.Code) {
                                    content += '        <input class="form-check-input" type="checkbox" value="' + value.Code + '" id="' + value.Code + '" checked="checked">\n'
                                } else {
                                    content += '        <input class="form-check-input" type="checkbox" value="' + value.Code + '" id="' + value.Code + '">\n'
                                }
                            } else {
                                var xi = 0
                                for (kk = 0; kk < dep.length; kk++) {
                                    if (dep[kk] == value.Code) {
                                        content += '        <input class="form-check-input" type="checkbox" value="' + value.Code + '" id="' + value.Code + '" checked="checked">\n'
                                        xi += 1;
                                    }
                                }
                                if (xi == 0) {
                                    content += '        <input class="form-check-input" type="checkbox" value="' + value.Code + '" id="' + value.Code + '">\n'
                                }
                            }

                            content += '        <label class="form-check-label" for="' + value.Code + '">' + value.Code + '\n'
                            content += '        </label>\n'
                            content += '    </div>\n'
                            if (count == 10 || v == result.Contents.length) {
                                content += '</div>\n'
                                count = 0
                            }
                            count += 1;
                            v += 1;
                        });
                    }
                    $('#designationList').html(content);
                },
                error: function (ex) {
                    toastr.error(ex, 'Failed', { timeOut: 3000, "closeButton": true });
                    setTimeout(function () {
                        waitingDialog.hide();
                    }, 1000);
                }
            });
            $("#mdlDesignation").modal();
            $('#SelectedDesign').show();
        }
        function AddSelectedDept() {
            var str = "";
            $('div#departmentList input[type=checkbox]').each(function () {
                if ($(this).is(":checked")) {
                    str += $(this).attr('value') + ";";
                }
            });
            $("#txtdepartment").val(str);
            $('#mdlDepartment').modal('hide');
        }
        function AddSelectedDesign() {
            var str = "";
            $('div#designationList input[type=checkbox]').each(function () {
                if ($(this).is(":checked")) {
                    str += $(this).attr('value') + ";";
                }
            });
            $("#txtdesignation").val(str);
            $('#mdlDesignation').modal('hide');
        }

        function SaveHeader() {
            var SurveyID = $("#txtsurveyid").val();
            var SurveyTitle = $("#txttitle").val();
            var Department = $("#txtdepartment").val();
            var Designation = $("#txtdesignation").val();
            var StartDate = $("#startdate").val();
            var EndDate = $("#enddate").val();
            var Type = $("#Type").val();
            if (SurveyTitle == null || SurveyTitle == "") {
                toastr.warning("Please fill survey tittle", 'Warning', { timeOut: 3000, "closeButton": true });
                $("#txttitle").focus();
                return
            }
            if (Department == null || Department == "") {
                toastr.warning("Please select target department", 'Warning', { timeOut: 3000, "closeButton": true });
                $("#btnNewDept").focus();
                return
            }
            if (Designation == null || Designation == "") {
                toastr.warning("Please select target designation", 'Warning', { timeOut: 3000, "closeButton": true });
                $("#btnNewDesign").focus();
                return
            }
            if (StartDate == null || StartDate == "") {
                toastr.warning("Please select start date", 'Warning', { timeOut: 3000, "closeButton": true });
                $("#startdate").focus();
                return
            }
            if (EndDate == null || EndDate == "") {
                toastr.warning("Please select end date", 'Warning', { timeOut: 3000, "closeButton": true });
                $("#enddate").focus();
                return
            }
            if (Type == null || Type == "") {
                toastr.warning("Please select type", 'Warning', { timeOut: 3000, "closeButton": true });
                $("#Type").focus();
                return
            }
            HeaderSubmit();
        }
        function HeaderSubmit() {
            var SurveyID = $("#txtsurveyid").val();
            var SurveyTitle = $("#txttitle").val();
            var sDepartment = $("#txtdepartment").val().split(";");
            var sDesignation = $("#txtdesignation").val().split(";");
            var Department = [];
            var Designation = [];
            var SurveyStatus = "0";
            var StartDate = $("#startdate").val();
            var EndDate = $("#enddate").val();
            var Type = $("#Type").val();
            var ViewChart;
            var Finalized = "0"

            if (sDepartment.length == 1) {
                Department.push(sDepartment[0]);
            } else {
                for (i = 0; i < sDepartment.length - 1; i++) {
                    Department.push(sDepartment[i]);
                }
            }
            if (sDesignation.length == 1) {
                Designation.push(sDesignation[0]);
            } else {
                for (i = 0; i < sDesignation.length - 1; i++) {
                    Designation.push(sDesignation[i]);
                }
            }

            if ($('#chkViewChart').is(":checked")) {
                ViewChart = 1
            } else {
                ViewChart = 0
            }

            var param = {
                SurveyID: SurveyID,
                SurveyTitle: SurveyTitle,
                GroupDepartment: Department,
                Designation: Designation,
                SurveyStatus: SurveyStatus,
                StartDate: StartDate,
                EndDate: EndDate,
                ViewChart: ViewChart,
                Type: Type,
                Finalized: Finalized
            };

            var pdata = { 'param': param }
            $.ajax({
                url: "@Url.Action("SaveHeader", "SurveyPollsList")",
                type: "post",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(pdata),
                success: function (data) {
                    if (data.ID == '0') {
                        toastr.warning(data.Message, 'Warning', { timeOut: 3000, closeButton: true, positionClass: "toast-top-full-width" });
                        $("#txttitle").focus();
                    } else {
                        toastr.success("Success save survey", 'Success', { timeOut: 3000, closeButton: true, positionClass: "toast-top-full-width" });
                    }
                },
                error: function () {
                    setTimeout(function () {
                        waitingDialog.hide();
                    }, 1000);
                }
            }).done(function (result) {

               /* $("#txtQuestionID").val(result.Contents);*/
                setTimeout(function () {
                    waitingDialog.hide();
                }, 1000);

            });
        }

        function Finalized() {
            var SurveyID = $("#txtsurveyid").val();
            $.ajax({
                url: "@Url.Action("Finalized", "SurveyPollsList")",
                type: "post",
                dataType: "json",
                data: { SurveyID: SurveyID },
                success: function (data) {
                    if (data.ID == '0') {
                        toastr.warning(data.Message, 'Warning', { timeOut: 3000, closeButton: true, positionClass: "toast-top-full-width" });
                        $("#txttitle").focus();
                    } else {
                        toastr.success(data.Message, 'Success', { timeOut: 3000, closeButton: true, positionClass: "toast-top-full-width" });
                        //$('#txtsurveyid').prop('disabled', true);
                        //$('#txtsurveyid').css({ "background-color": "#e9ecef" });
                        //$('#txttitle').prop('disabled', true);
                        //$('#txttitle').css({ "background-color": "#e9ecef" });
                        //$('#btnNewDept').prop('disabled', true);
                        //$('#btnNewDesign').prop('disabled', true);
                        //$('#startdate').prop('disabled', true);
                        //$('#enddate').prop('disabled', true);
                        //$('#startdate').css({ "background-color": "#e9ecef" });
                        //$('#enddate').css({ "background-color": "#e9ecef" });
                        //$('#Type').prop('disabled', true);
                        //$('#Type').css({ "background-color": "#e9ecef" });
                        //$('#chkViewChart').prop('disabled', true);
                        //$('#btnSave').prop('disabled', true);

                        $('#btnNew').prop('disabled', true);
                        $('#btnFinalized').prop('disabled', true);
                        $('#tableID td:nth-child(1), th:nth-child(1)').hide();

                        var url = "/SurveyPollsList/Index";
                        //var url = "/MyPGM_Web/SurveyPollsList/Index";
                        window.location.href = url;
                    }
                },
                error: function (ex) {
                    setTimeout(function () {
                        waitingDialog.hide();
                    }, 1000);
                }
            }).done(function (result) {

                /* $("#txtQuestionID").val(result.Contents);*/
                setTimeout(function () {
                    waitingDialog.hide();
                }, 1000);

            });
        }

        function backtolist() {
            var url = "/SurveyPollsList/Index?back=1";
            //var url = "/MyPGM_Web/SurveyPollsList/Index?back=1";
            window.location.href = url;
        }

        function textbox_Clear() {
            $("#QuestionDescription").val("");
            $("#txtmlt1").val("");
            $("#txtmlt2").val("");
            $("#txtmlt3").val("");
            $("#txtmlt4").val("");

        }

        function loadDataAftersave() {
            var SurveyID = $("#txtsurveyid").val();
            waitingDialog.show("Please wait retrieving data...");
            $.ajax({
                url: "@Url.Action("SurveyAndPollsDetail", "SurveyPollsList")",
                type: "post",
                dataType: "json",
                data: { param: SurveyID },
            }).done(function (result) {
                $("#tableID").DataTable().clear();

                if (result.ID == '0') {
                    toastr.error(result.Message, 'Error', { timeOut: 3000, "closeButton": true });
                }
                else {
                    $("#tableID").DataTable().rows.add(result.Contents).draw(false);
                }

                setTimeout(function () {
                    waitingDialog.hide();
                }, 1000);

            }).fail(function (jqXHR, textStatus, errorThrown) {
                setTimeout(function () {
                    waitingDialog.hide();
                }, 1000);
            });


            var responsiveHelper_dt_basic = undefined;
            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };

            $("#tableID").dataTable({
                bDestroy: true,
                data: [],
                columns: [
                    {
                        "data": "Action", className: "txtAlignCenter", "render": function (data, type, row) {
                            if ('@ViewBag.AllowUpdate' == '0') {
                                return '<a href="#" class="fa fa-pencil disable"></a> &nbsp; | &nbsp; <a class="fa fa-trash-o disable"></a>'
                            } else {
                                return '<a href="#" class="fa fa-pencil" onclick="EditRecord(\'' + row.ID + '\')"></a> &nbsp; | &nbsp; <a href="#" class="fa fa-trash-o" onclick="DeleteRecord(\'' + row.ID + '\')"></a>'
                            }
                        }
                    },
                    { "data": "id", "autoWidth": true, className: "hidden" },
                    { "data": "QuestionID", "autoWidth": true, className: "hidden" },
                    { "data": "SurveyID", "autoWidth": true, className: "hidden" },
                    { "data": "QuestionSeqNo", "autoWidth": true, className: "hidden" },
                    { "data": "QuestionDesc", "autoWidth": true, className: "txtAlignLeft" },
                    { "data": "ParentQuestionID", "autoWidth": true, className: "txtAlignCenter" },
                    { "data": "ParentAnswerSeqNo", "autoWidth": true, className: "txtAlignCenter" }
                ],
                rowCallback: function (row, data) { responsiveHelper_dt_basic.createExpandIcon(row) },
                filter: true,
                info: true,
                ordering: true,
                processing: true,
                retrieve: true,
                bLengthChange: false,
                lengthMenu: [[15, 20, -1], [15, 20, "All"]],
                searching: true,
                bFilter: true,
                bSort: true,
                bPaginate: true,
                scrollX: false,
                scrolly: false,
                //scrollX: "100%",
                //scrollY: "350px",
                autoWidth: true,
                preDrawCallback: function () {
                    if (!responsiveHelper_dt_basic) {
                        responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#tableID'), breakpointDefinition);
                    }
                },
                drawCallback: function (oSettings) {
                    responsiveHelper_dt_basic.respond();
                }
            });
        }
        function FillCombo_SurveyTitle(type, code) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("FillCombo", "SurveyPollsList")",
                datatype: 'json',
                data: { Type: type },
                success: function (result) {
                    if (result.ID == '0') {
                        toastr.warning(result.Message, 'Warning', { timeOut: 3000, closeButton: true, positionClass: "toast-top-full-width" });
                    } else {
                        $('#SurveyTitle').empty();
                        $.each(result.Contents, function (i, dt) {
                            if (code == dt.Code) {
                                $("#SurveyTitle").append('<option value="' + dt.Code + '" selected >' + dt.Description + '</option>');
                            } else {
                                $("#SurveyTitle").append('<option value="' + dt.Code + '">' + dt.Description + '</option>');
                            }
                        });
                    }
                },
                error: function (ex) {
                    toastr.error(ex, 'Failed', { timeOut: 3000, "closeButton": true });
                    setTimeout(function () {
                        waitingDialog.hide();
                    }, 1000);
                }
            });
        }
        function FillCombo_ParentQuestion(SurveyID, selectedVal) {
            $.ajax({
                url: "@Url.Action("FillParentQuestion", "SurveyPollsList")",
                type: "post",
                dataType: "json",
                data: { SurveyID: SurveyID },
                success: function (result) {
                    if (result.ID == '0') {
                        toastr.warning(result.Message, 'Warning', { timeOut: 3000, closeButton: true, positionClass: "toast-top-full-width" });
                    } else {
                        $('#ParentQuestion')
                            .find('option')
                            .remove()
                            .end()
                            ;
                        $.each(result.Contents, function (i, dt) {
                            if (selectedVal == null) {
                                $("#ParentQuestion").append('<option value="' + dt.Code + '">' + dt.Description + '</option>');
                            } else {
                                if (selectedVal == dt.Code) {
                                    $("#ParentQuestion").append('<option value="' + dt.Code + '" selected>' + dt.Description + '</option>');
                                } else {
                                    $("#ParentQuestion").append('<option value="' + dt.Code + '">' + dt.Description + '</option>');
                                }
                            }
                        });
                    }
                },
                error: function (ex) {
                    toastr.error(ex, 'Failed', { timeOut: 3000, "closeButton": true });
                    setTimeout(function () {
                        waitingDialog.hide();
                    }, 1000);
                }
            });
        }
        function fillCombo_ParentAnswer(selectedVal) {
            var SurveyID = $("#txtsurveyid").val();
            var ParentQuestionID = $('#ParentQuestion').val();
            $.ajax({
                url: "@Url.Action("FillComboParentAnswer", "SurveyPollsList")",
                type: "post",
                dataType: "json",
                data: { SurveyID: SurveyID, ParentQuestionID: ParentQuestionID },
                success: function (result) {
                    if (result.ID == '0') {
                        toastr.warning(result.Message, 'Warning', { timeOut: 3000, closeButton: true, positionClass: "toast-top-full-width" });
                    } else {
                        $('#ParentAnswer')
                            .find('option')
                            .remove()
                            .end()
                            ;
                        $.each(result.Contents, function (i, dt) {
                            if (selectedVal == null) {
                                $("#ParentAnswer").append('<option value="' + dt.Code + '">' + dt.Description + '</option>');
                            } else {
                                if (selectedVal == dt.Code) {
                                    $("#ParentAnswer").append('<option value="' + dt.Code + '" selected>' + dt.Description + '</option>');
                                } else {
                                    $("#ParentAnswer").append('<option value="' + dt.Code + '">' + dt.Description + '</option>');
                                }
                            }
                        });
                    }
                },
                error: function (ex) {
                    toastr.error(ex, 'Failed', { timeOut: 3000, "closeButton": true });
                    setTimeout(function () {
                        waitingDialog.hide();
                    }, 1000);
                }
            });
        }
        function FillCombo_AnswerType() {
            $.ajax({
                url: "@Url.Action("FillAnswerType", "SurveyPollsList")",
                type: "post",
                dataType: "json",
                success: function (result) {
                    if (result.ID == '0') {
                        toastr.warning(result.Message, 'Warning', { timeOut: 3000, closeButton: true, positionClass: "toast-top-full-width" });
                    } else {
                        $('#AnswerType')
                            .find('option')
                            .remove()
                            .end()
                            ;
                        $.each(result.Contents, function (i, dt) {
                            $("#AnswerType").append('<option value="' + dt.Code + '">' + dt.Description + '</option>');
                        });
                    }
                },
                error: function (ex) {
                    toastr.error(ex, 'Failed', { timeOut: 3000, "closeButton": true });
                    setTimeout(function () {
                        waitingDialog.hide();
                    }, 1000);
                }
            });
        }
        function saveSurvey() {
            var SurveyID = $("#txtsurveyid").val();
            var SurveyTitle = $("#txttitle").val();
            var sDepartment = $("#txtdepartment").val().split(";");
            var sDesignation = $("#txtdesignation").val().split(";");
            var Department = [];
            var Designation = [];
            var SurveyStatus = "0";
            var StartDate = $("#startdate").val();
            var EndDate = $("#enddate").val();
            var Type = $("#Type").val();
            var ViewChart;
            var Finalized = "0"
            for (i = 0; i < sDepartment.length; i++) {
                Department.push(sDepartment[i]);
            }
            for (i = 0; i < sDesignation.length; i++) {
                Designation.push(sDesignation[i]);
            }

            if ($('#chkViewChart').is(":checked")) {
                ViewChart = 1
            } else {
                ViewChart = 0
            }

            var param = {
                SurveyID: SurveyID,
                SurveyTitle: SurveyTitle,
                GroupDepartment: Department,
                Designation: Designation,
                SurveyStatus: SurveyStatus,
                StartDate: StartDate,
                EndDate: EndDate,
                ViewChart: ViewChart,
                Type: Type,
                Finalized: Finalized
            };

            var pdata = { 'param': param }
            $.ajax({
                url: "@Url.Action("SaveHeader", "SurveyPollsList")",
                type: "post",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(pdata),
                success: function (data) {
                    /*alert(data.msg);*/
                },
                error: function () {
                    setTimeout(function () {
                        waitingDialog.hide();
                    }, 1000);
                }
            }).done(function (result) {

               /* $("#txtQuestionID").val(result.Contents);*/
                setTimeout(function () {
                    waitingDialog.hide();
                }, 1000);

            });
        }
        function Updatequestionanswer() {
            var QuestionID = $("#txtQuestionID").val();
            var SurveyID = $("#txtsurveyid").val();
            var id = $("#detailID").val();

            // Question
            var QuestionDesc = $("#QuestionDescription").val();
            var ParentQuestionID = $("#ParentQuestion").val();
            var ParentAnswerSeqNo = $("#ParentAnswer").val();
            var AnswerType = $("#AnswerType").val();

            // Answer
            var txtFreeText = $("#txtFreeText").val();

            var txtmlt1 = $("#txtmlt1").val();
            var txtmlt2 = $("#txtmlt2").val();
            var txtmlt3 = $("#txtmlt3").val();
            var txtmlt4 = $("#txtmlt4").val();

            var SurveyTitle = $("#txttitle").val();
            var StartDate = $("#startdate").val();
            var EndDate = $("#enddate").val();
            var Type = $("#Type").val();
            var ViewChart;

            if ($('#chkViewChart').is(":checked")) {
                ViewChart = 1
            } else {
                ViewChart = 0
            }

            var paramHeader = {
                SurveyID: SurveyID,
                SurveyTitle: SurveyTitle,
                StartDate: StartDate,
                EndDate: EndDate,
                ViewChart: ViewChart,
                Type: Type
            };


            var dataQuestion = { SurveyID: SurveyID, QuestionID: QuestionID, QuestionDesc: QuestionDesc, ParentQuestionID: ParentQuestionID, ParentAnswerSeqNo: ParentAnswerSeqNo, AnswerType: AnswerType };
            var dataAnswer = { SurveyID: SurveyID, QuestionID: QuestionID, txtFreeText: txtFreeText, txtmlt1: txtmlt1, txtmlt2: txtmlt2, txtmlt3: txtmlt3, txtmlt4: txtmlt4}

            var pdata = { 'id':id, 'param': dataQuestion, 'param2': dataAnswer, 'param3': paramHeader }
            $.ajax({
                url: "@Url.Action("UpdateDetail", "SurveyPollsList")",
                type: "post",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(pdata),
                success: function (data) {
                    if (data.ID == '0') {
                        toastr.warning(data.Message, 'Warning', { timeOut: 3000, closeButton: true, positionClass: "toast-top-full-width" });
                    } else {
                        toastr.success(data.Message, 'Success', { timeOut: 3000, closeButton: true, positionClass: "toast-top-full-width" });

                        loadDataAftersave()
                        $("#MyModal").modal("hide");
                    }
                },
                error: function () {
                    setTimeout(function () {
                        waitingDialog.hide();
                    }, 1000);
                }
            }).done(function (result) {

               /* $("#txtQuestionID").val(result.Contents);*/
                setTimeout(function () {
                    waitingDialog.hide();
                }, 1000);

            });
        }

        function savequestionanswer() {
            var QuestionID = $("#txtQuestionID").val();
            var SurveyID = $("#txtsurveyid").val();

            // Question
            var QuestionDesc = $("#QuestionDescription").val();
            var ParentQuestionID = $("#ParentQuestion").val();
            var ParentAnswerSeqNo = $("#ParentAnswer").val();
            var AnswerType = $("#AnswerType").val();

            // Answer
            var txtFreeText = ""; /*$("#txtFreeText").val();*/

            var txtmlt1 = $("#txtmlt1").val();
            var txtmlt2 = $("#txtmlt2").val();
            var txtmlt3 = $("#txtmlt3").val();
            var txtmlt4 = $("#txtmlt4").val();


            var dataQuestion = { SurveyID: SurveyID, QuestionID: QuestionID, QuestionDesc: QuestionDesc, ParentQuestionID: ParentQuestionID, ParentAnswerSeqNo: ParentAnswerSeqNo, AnswerType: AnswerType };
            var dataAnswer = { SurveyID: SurveyID, QuestionID: QuestionID, txtFreeText: txtFreeText, txtmlt1: txtmlt1, txtmlt2: txtmlt2, txtmlt3: txtmlt3, txtmlt4: txtmlt4}

            var pdata = { 'param': dataQuestion, 'param2': dataAnswer }
            $.ajax({
                url: "@Url.Action("SaveDetail", "SurveyPollsList")",
                type: "post",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(pdata),
                success: function (data) {
                    if (data.ID == '0') {
                        toastr.warning(data.Message, 'Warning', { timeOut: 3000, closeButton: true, positionClass: "toast-top-full-width" });
                        loadDataAftersave()
                        $("#MyModal").modal("hide");
                    } else {
                        toastr.success(data.Message, 'Success', { timeOut: 3000, closeButton: true, positionClass: "toast-top-full-width" });

                        loadDataAftersave()
                        $("#MyModal").modal("hide");
                    }
                },
                error: function () {
                    setTimeout(function () {
                        waitingDialog.hide();
                    }, 1000);
                }
            }).done(function (result) {

               /* $("#txtQuestionID").val(result.Contents);*/
                setTimeout(function () {
                    waitingDialog.hide();
                }, 1000);

            });
        }

        $("#ParentQuestion").on('change', function () {
            var SurveyID = $("#txtsurveyid").val();
            var ParentQuestionID = this.value;
            $.ajax({
                url: "@Url.Action("FillComboParentAnswer", "SurveyPollsList")",
                type: "post",
                dataType: "json",
                data: { SurveyID: SurveyID, ParentQuestionID: ParentQuestionID },
                success: function (result) {
                    if (result.ID == '0') {
                        toastr.warning(result.Message, 'Warning', { timeOut: 3000, closeButton: true, positionClass: "toast-top-full-width" });
                    } else {
                        $('#ParentAnswer')
                            .find('option')
                            .remove()
                            .end()
                            ;
                        var answerID = $(':hidden#hdnParentAnswer').val();
                        $.each(result.Contents, function (i, dt) {

                            if (answerID == dt.Code) {
                                $("#ParentAnswer").append('<option value="' + dt.Code + '" selected>' + dt.Description + '</option>');
                            } else {
                                $("#ParentAnswer").append('<option value="' + dt.Code + '">' + dt.Description + '</option>');
                            }
                        });
                    }
                },
                error: function (ex) {
                    toastr.error(ex, 'Failed', { timeOut: 3000, "closeButton": true });
                    setTimeout(function () {
                        waitingDialog.hide();
                    }, 1000);
                }
            });
        });

        $("#AnswerType").on('change', function () {
            var type = this.value;
            $("#tblMulti").removeClass("answer-type");
            $("#tblMulti").removeClass("answer-type-hide");
            /*$("#tblFreetext").removeClass("answer-type");*/
            /*$("#tblFreetext").removeClass("answer-type-hide");*/
            if (type == "0") {
                $("#tblMulti").addClass("answer-type");
                $('#InsertData').prop("disabled", true);
                $('#UpdateData').prop("disabled", true);
                /*$("#tblFreetext").addClass("answer-type-hide");*/
            } else if (type == "1") {
                $("#tblMulti").addClass("answer-type-hide");
                $('#InsertData').prop("disabled", false);
                $('#UpdateData').prop("disabled", false);
                /*$("#tblFreetext").addClass("answer-type");*/
            }
        });

        $('#chkAllDept').change(function () {
            var isChecked = $('#chkAllDept').is(":checked");
            if (isChecked == true) {
                $('div#departmentList input[type=checkbox]').each(function () {
                    $(this).prop('checked', true);
                });
            } else {
                $('div#departmentList input[type=checkbox]').each(function () {
                    $(this).prop('checked', false);
                });
            }
        });

        function EditRecord(id) {
            var SurveyID = $("#txtsurveyid").val();
            $.ajax({
                url: "@Url.Action("Load_Edit", "SurveyPollsList")",
                type: "post",
                dataType: "json",
                data: { param: id },
            }).done(function (result) {
                if (result.ID == '0') {
                    toastr.warning(result.Message, 'Warning', { timeOut: 3000, closeButton: true, positionClass: "toast-top-full-width" });
                } else {
                    $("#ModalTitle").html("Create Question Survey & Polls");
                    $("#MyModal").modal();
                    $('#InsertData').hide();
                    $('#UpdateData').show();
                    $('#InsertData').prop("disabled", true);
                    $('#UpdateData').prop("disabled", true);
                    var u = 1;
                    var objDT = result.Contents;
                    $(':hidden#hdnParentAnswer').val(objDT[0].ParentAnswerSeqNo);
                    FillCombo_ParentQuestion(SurveyID, objDT[0].ParentQuestionID);
                    fillCombo_ParentAnswer(objDT[0].ParentAnswerSeqNo)

                    FillCombo_AnswerType();
                    $("#ParentQuestion").val(objDT[0].ParentQuestionID);
                    $("#ParentAnswer").val(objDT[0].ParentAnswerSeqNo);
                    $("#AnswerType").val(objDT[0].AnswerType);

                    $.each(result.Contents, function (i, dt) {
                        $('#InsertData').prop("disabled", false);
                        $('#UpdateData').prop("disabled", false);
                        $("#QuestionDescription").val(dt.QuestionDesc);
                        //$("#ParentQuestion").val(objDT[0].ParentQuestionID);
                        if (u == 1) {
                            $("#txtmlt1").val(dt.AnswerDesc);
                            //$("#txtFreeText").val(dt.AnswerDesc);
                        }
                        if (u == 2) {
                            $("#txtmlt2").val(dt.AnswerDesc);
                        }
                        if (u == 3) {
                            $("#txtmlt3").val(dt.AnswerDesc)
                        }
                        if (u == 4) {;
                            $("#txtmlt4").val(dt.AnswerDesc);
                        }
                        u += 1;
                    });
                }

            }).fail(function (jqXHR, textStatus, errorThrown) {
                //toastr.error(jqXHR.status + " : " + jqXHR.responseText, 'Error', { timeOut: 3000, "closeButton": true });
                setTimeout(function () {
                    waitingDialog.hide();
                }, 1000);
            });


        }
        function DeleteRecord(id) {
            $.ajax({
                url: "@Url.Action("delete", "SurveyPollsList")",
                type: "post",
                dataType: "json",
                data: { param: id },
            }).done(function (result) {
                if (result.ID == '0') {
                    toastr.error(result.Message, 'Error', { timeOut: 3000, "closeButton": true });
                }
                else {
                    toastr.success(result.Message, 'Succes', { timeOut: 3000, "closeButton": true });
                    loadDataAftersave()
                }

                setTimeout(function () {
                    waitingDialog.hide();
                }, 1000);

            }).fail(function (jqXHR, textStatus, errorThrown) {
                setTimeout(function () {
                    waitingDialog.hide();
                }, 1000);
            });
        }

        function answerCheck(t, e) {
            if (t.value != "") {
                if (t.value.length == 1) {
                    if (e.keyCode == 8) {
                        if (t.id == "txtmlt1") {
                            $("#txtmlt1").val("")
                        } else if (t.id == "txtmlt2") {
                            $("#txtmlt2").val("")
                        } else if (t.id == "txtmlt3") {
                            $("#txtmlt3").val("")
                        } else if (t.id == "txtmlt4") {
                            $("#txtmlt4").val("")
                        }
                        var txt1 = $("#txtmlt1").val();
                        var txt2 = $("#txtmlt2").val();
                        var txt3 = $("#txtmlt3").val();
                        var txt4 = $("#txtmlt4").val();
                        if (txt1 == "" && txt2 == "" && txt3 == "" && txt4 == "") {
                            $('#InsertData').prop("disabled", true);
                            $('#UpdateData').prop("disabled", true);
                            return
                        }
                        return
                    }
                }
                $('#InsertData').prop("disabled", false);
                $('#UpdateData').prop("disabled", false);
                return
            } else {
                var evt = e || window.event;
                var charCode = evt.which || evt.keyCode;
                var charStr = String.fromCharCode(charCode);
                var result = /[a-zA-Z0-9_-]/.test(charStr);


                if (result == true) {
                    $('#InsertData').prop("disabled", false);
                    $('#UpdateData').prop("disabled", false);
                    return
                }

                var txt1 = $("#txtmlt1").val();
                var txt2 = $("#txtmlt2").val();
                var txt3 = $("#txtmlt3").val();
                var txt4 = $("#txtmlt4").val();
                if (txt1 == "" && txt2 == "" && txt3 == "" && txt4 == "") {
                    $('#InsertData').prop("disabled", true);
                    $('#UpdateData').prop("disabled", true);
                    return
                }
            }
        }

    </script>
}