
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-md-12">
                <div class="jarviswidget jarviswidget-color-red" id="wid-id-1" data-widget-colorbutton="false"
                     data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false"
                     data-widget-custombutton="false" data-widget-collapsed="false" data-widget-sortable="false">
                    <header style="border-top-left-radius:8px; border-top-right-radius:8px">
                        <h2 style="font-family:'Poppins-Regular';font-weight:500;font-size:15px">
                            Update Survey & Polls
                        </h2>
                    </header>

                    <div style="border-bottom-left-radius:8px; border-bottom-right-radius:8px">
                        <div style="padding: 5px 5px 5px 5px">
                            <div class="table-toolbar" style="padding-bottom:10px">
                                <table>
                                    <tr style="height:35px">
                                        <td width="100px">
                                            Survey ID
                                        </td>
                                        <td width="250px">
                                            <input id="txtsurveyid" type="text" class="form-control" style="background-color: #e9ecef !important; color:black !important; width:80px" value="@ViewBag.SurveyID" />
                                        </td>
                                    </tr>
                                    <tr style="height:35px">
                                        <td width="100px">
                                            Survey Title
                                        </td>
                                        <td>
                                            <input id="txttitle" type="text" class="form-control input-md" style="background-color:white; width:240px" value="@ViewBag.SurveyDesc" />
                                        </td>
                                    </tr>
                                    <tr style="height:35px">
                                        <td width="100px">
                                            Start Date
                                        </td>
                                        <td>
                                            <input id="startdate" type="text" class="form-control input-md" style="background-color:white; width:130px" value="@ViewBag.StartDate" />
                                        </td>
                                    </tr>
                                    <tr style="height:35px">
                                        <td width="100px">
                                            End Date
                                        </td>
                                        <td>
                                            <input id="enddate" type="text" class="form-control input-md" style="background-color:white; width:130px" value="@ViewBag.EndDate" />
                                        </td>
                                    </tr>
                                    <tr style="height:35px">
                                        <td width="100px">
                                            View Result
                                        </td>
                                        <td>
                                            @if (ViewBag.ViewResult == "1")
                                            {
                                                <input id="chkViewChart" name="chkViewChart" type="checkbox" checked="checked"/>
                                            }
                                            else
                                            {
                                                <input id="chkViewChart" name="chkViewChart" type="checkbox" />
                                            }
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            @*<table style="width: 100%;">
                                <tr style="height: 50px">
                                    <td>
                                        <button id="btnNew" class="btn borderradiusbtn" style="font-family: 'Poppins-Regular'; font-size: 15px; font-weight: 500; background-color: #4CBFBC; width:85px" data-toggle="modal" data-target="#myModal" onclick="AddNewData()"><span style="color:white">New</span></button>
                                        <button id="btnFinalized" class="btn borderradiusbtn" style="font-family: 'Poppins-Regular'; font-size: 15px; font-weight: 500; background-color: #00db11; width: 85px" onclick="Finalized()"><span style="color:white">Finalized</span></button>
                                    </td>
                                </tr>
                            </table>*@

                            <table id="tableID" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;width: 7%">Action</th>
                                        <th style="text-align: center" class="hidden">
                                            ID
                                        </th>
                                        <th style="text-align: center" class="hidden">
                                            Question ID
                                        </th>
                                        <th style="text-align: center" class="hidden">
                                            Survey ID
                                        </th>
                                        <th style="text-align: center" class="hidden">
                                            Question Seq No
                                        </th>
                                        <th style="text-align: center">
                                            Question Description
                                        </th>
                                        <th style="text-align: center">
                                            Parent Question ID
                                        </th>
                                        <th style="text-align: center">
                                            Parent Answer Seq No
                                        </th>
                                    </tr>
                                </thead>
                            </table>

                            @*Create A Popup Modal*@
                            <div class="modal fade" id="MyModal">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <a href="#" class="close" data-dismiss="modal">&times;</a>
                                            <h4 style="font-family:'Poppins-Regular' !important;" id="ModalTitle"></h4>
                                        </div>

                                        <div class="modal-body">
                                            <form id="form" class="smart-form">

                                                <div class="table-toolbar" style="padding-bottom:10px">
                                                    <table>
                                                        <tr>
                                                            <td>&nbsp;</td>
                                                            <input type="hidden" id="detailID" name="detailID">
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr style="height:35px">
                                                            <td width="100px">
                                                                Parent Question
                                                            </td>
                                                            <td>
                                                                <select id="ParentQuestion" class="form-control input-md" style="height: 20px; width: 240px; font-family: 'Segoe UI'; font-weight: 500;"></select>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr style="height:35px">
                                                            <td width="100px">
                                                                Parent Answer
                                                            </td>
                                                            <td>
                                                                <select id="ParentAnswer" class="form-control input-md" style="height: 20px; width: 240px; font-family: 'Segoe UI'; font-weight: 500;"></select>

                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr style="height:35px">
                                                            <td width="100px">
                                                                Question ID
                                                            </td>
                                                            <td>
                                                                <input id="txtQuestionID" type="text" class="form-control" style="background-color: #e9ecef !important; color:black !important; width:40px; height:20px !important;" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr style="height:35px">
                                                            <td width="100px" style="vertical-align:top">
                                                                Question Description
                                                            </td>
                                                            <td>
                                                                <textarea id="QuestionDescription" class="form-control input-md" style="background-color: white; width: 363px; height: 166px; resize: none;"></textarea>
                                                                @*@Html.TextAreaFor(m => m.NewsDescCode, new { @id = "NewsDesc", rows = "40", style = "resize:none;", placeholder = "Input News Description", @class = "form-control input-lg textarea-editor" })*@
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr style="height:35px">
                                                            <td width="100px">
                                                                Answer Type
                                                            </td>
                                                            <td>
                                                                @*<input id="enddate" type="text" class="form-control input-md" style="background-color:white; width:130px" />*@
                                                                <select id="AnswerType" class="form-control input-md" style="height: 20px; width: 240px; font-family: 'Segoe UI'; font-weight: 500;"></select>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                    </table>
                                                    <table id="tblFreetext" class="answer-type-hide">
                                                        <tr style="height:35px">
                                                            <td width="100px" style="vertical-align:top;">
                                                                Free Text
                                                            </td>
                                                            <td>
                                                                <textarea id="txtFreeText" class="form-control input-md" style="background-color: white; width: 363px; height: 166px; resize: none;"></textarea>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                    </table>
                                                    <table id="tblMulti" class="answer-type">
                                                        <tr style="height:35px">
                                                            <td width="115px">
                                                                Multiple Choice
                                                            </td>
                                                            <td>
                                                                <input id="txtmlt1" type="text" class="form-control input-md" style="background-color:white; width:240px" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr style="height:35px">
                                                            <td width="100px">
                                                            </td>
                                                            <td>
                                                                <input id="txtmlt2" type="text" class="form-control input-md" style="background-color:white; width:240px" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr style="height:35px">
                                                            <td width="100px">
                                                            </td>
                                                            <td>
                                                                <input id="txtmlt3" type="text" class="form-control input-md" style="background-color:white; width:240px" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>&nbsp;</td>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr style="height:35px">
                                                            <td width="100px">
                                                            </td>
                                                            <td>
                                                                <input id="txtmlt4" type="text" class="form-control input-md" style="background-color:white; width:240px" />
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>

                                            </form>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal" style="width:85px; font-size:13px; border-width:thin;">Cancel</button>
                                            @if (ViewBag.AllowWrite == "0")
                                            {
                                                <button type="button" class="btn btn-save" id="InsertData" style="width:85px; font-size:13px" disabled onclick="savequestionanswer()">Save</button>
                                                <button type="button" class="btn btn-save" id="UpdateData" style="width:85px; font-size:13px; display:none;" disabled onclick="Updatequestionanswer()">Update</button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-save" id="InsertData" style="width:85px; font-size:13px" onclick="savequestionanswer()">Save</button>
                                                <button type="button" class="btn btn-save" id="UpdateData" style="width:85px; font-size:13px; display:none;" onclick="Updatequestionanswer()">Update</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<style type="text/css">
    .hidden {
        display: none;
    }

    .txtAlignCenter {
        text-align: center;
    }

    .txtAlignLeft {
        text-align: left;
    }

    .btn-save {
        color: #fff;
        background-color: #4CBFBC;
        border-color: #4CBFBC;
    }
    .answer-type {
        display: block;
    }
    .answer-type-hide{
        display:none;
    }
</style>

<link rel="stylesheet" href="~/Content/zebra_datepicker.min.css" type="text/css">
<script src="~/Scripts/plugin/bootstrap-waitingfor/bootstrap-waitingfor.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap/bootstrap.min.js"></script>
<script src="~/Scripts/zebra_datepicker.min.js"></script>
<script src="~/Scripts/zebra_datepicker.src.js"></script>
<script src="~/Scripts/plugin/summernote/summernote.min.js"></script>

@section pagespecific
{
    <script>
        $(document).ready(function () {
            loadData();
            $('#startdate').Zebra_DatePicker({
                format: 'd M Y', //'d M Y'
                onSelect: function () {
                    $(this).change();
                }
            });
            $('#enddate').Zebra_DatePicker({
                format: 'd M Y', //'d M Y'
                onSelect: function () {
                    $(this).change();
                }
            });

            var d = new Date();
            var month = new Array();
            month[0] = "Jan";
            month[1] = "Feb";
            month[2] = "Mar";
            month[3] = "Apr";
            month[4] = "May";
            month[5] = "Jun";
            month[6] = "Jul";
            month[7] = "Aug";
            month[8] = "Sep";
            month[9] = "Oct";
            month[10] = "Nov";
            month[11] = "Dec";

            var responsiveHelper_dt_basic = undefined;
            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };

            $("#tableID").dataTable({
                bDestroy: true,
                data: [],
                columns: [
                    {
                        "data": "Action", className: "txtAlignCenter", "render": function (data, type, row) {
                            if ('@ViewBag.AllowUpdate' == '0') {
                                return '<a href="#" class="fa fa-pencil disable"></a> &nbsp; | &nbsp; <a class="fa fa-trash-o disable"></a>'
                            } else {
                                return '<a href="#" class="fa fa-pencil" onclick="EditRecord(\'' + row.ID + '\')"></a> &nbsp; | &nbsp; <a href="#" class="fa fa-trash-o" onclick="DeleteRecord(\'' + row.ID + '\')"></a>'
                            }
                        }
                    },
                    { "data": "ID", "autoWidth": true, className: "hidden" },
                    { "data": "QuestionID", "autoWidth": true, className: "hidden" },
                    { "data": "SurveyID", "autoWidth": true, className: "hidden" },
                    { "data": "QuestionSeqNo", "autoWidth": true, className: "hidden" },
                    { "data": "QuestionDesc", "autoWidth": true, className: "txtAlignLeft" },
                    { "data": "ParentQuestionID", "autoWidth": true, className: "txtAlignCenter" },
                    { "data": "ParentAnswerSeqNo", "autoWidth": true, className: "txtAlignCenter" }
                ],
                rowCallback: function (row, data) { responsiveHelper_dt_basic.createExpandIcon(row) },
                filter: true,
                info: true,
                ordering: true,
                processing: true,
                retrieve: true,
                bLengthChange: false,
                lengthMenu: [[15, 20, -1], [15, 20, "All"]],
                searching: true,
                bFilter: true,
                bSort: true,
                bPaginate: true,
                scrollX: false,
                scrolly: false,
                //scrollX: "100%",
                //scrollY: "350px",
                autoWidth: true,
                preDrawCallback: function () {
                    if (!responsiveHelper_dt_basic) {
                        responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#tableID'), breakpointDefinition);
                    }
                },
                drawCallback: function (oSettings) {
                    responsiveHelper_dt_basic.respond();
                }
            });

            function loadData() {
                FillCombo_SurveyTitle('SurveyPoll_Title','');
                waitingDialog.show("Please wait retrieving data...");
                var SurveyID = $("#txtsurveyid").val();
                $.ajax({
                    url: "@Url.Action("SurveyAndPollsDetail", "SurveyPollsList")",
                    type: "post",
                    dataType: "json",
                    data: { param: SurveyID },
                }).done(function (result) {
                    $("#tableID").DataTable().clear();
                    if (result.ID == '0') {
                        toastr.error(result.Message, 'Error', { timeOut: 3000, "closeButton": true });
                    }
                    else {
                        $("#tableID").DataTable().rows.add(result.Contents).draw(false);
                    }

                    setTimeout(function () {
                        waitingDialog.hide();
                    }, 1000);

                }).fail(function (jqXHR, textStatus, errorThrown) {
                    setTimeout(function () {
                        waitingDialog.hide();
                    }, 1000);
                });

            }

        })

        function getsurveyid() {
            $.ajax({
                    url: "@Url.Action("getsurveyid", "SurveyPollsList")",
                    type: "post",
                    dataType: "json"
            }).done(function (result) {
                $("#txtsurveyid").val(result.Contents);

                setTimeout(function () {
                    waitingDialog.hide();
                }, 1000);

            }).fail(function (jqXHR, textStatus, errorThrown) {
                setTimeout(function () {
                    waitingDialog.hide();
                }, 1000);
            });
        }
        function AddNewData() {
            $('#ParentQuestion').empty();
            var SurveyID = $("#txtsurveyid").val();
            var SurveyTitle = $("#txttitle").val();
            if (SurveyTitle == null || SurveyTitle == "") {
                toastr.warning("Please fill survey tittle", 'Warning', { timeOut: 3000, "closeButton": true });
                $("#txttitle").focus();
                return
            }

            saveSurvey();

            $.ajax({
                url: "@Url.Action("getQuestionID", "SurveyPollsList")",
                type: "post",
                dataType: "json",
                data: { param: SurveyID },
            }).done(function (result) {

                $("#txtQuestionID").val(result.Contents);
                setTimeout(function () {
                    waitingDialog.hide();
                }, 1000);

            }).fail(function (jqXHR, textStatus, errorThrown) {
                //toastr.error(jqXHR.status + " : " + jqXHR.responseText, 'Error', { timeOut: 3000, "closeButton": true });
                setTimeout(function () {
                    waitingDialog.hide();
                }, 1000);
            });

            $("#ModalTitle").html("Create Question Survey & Polls");
            $("#MyModal").modal();
            $('#InsertData').show();
            $('#UpdateData').hide();
            FillCombo_ParentQuestion(SurveyID);
            fillCombo_ParentAnswer()
            FillCombo_AnswerType();
            textbox_Clear()
        };
        function Finalized() {
            var SurveyID = $("#txtsurveyid").val();

            $.ajax({
                url: "@Url.Action("getQuestionID", "SurveyPollsList")",
                type: "post",
                dataType: "json",
                data: { param: SurveyID },
            });
        }

        function textbox_Clear() {
            $("#QuestionDescription").val("");
            $("#txtmlt1").val("");
            $("#txtmlt2").val("");
            $("#txtmlt3").val("");
            $("#txtmlt4").val("");

        }

        function loadDataAftersave() {
            var SurveyID = $("#txtsurveyid").val();
            waitingDialog.show("Please wait retrieving data...");
            $.ajax({
                url: "@Url.Action("SurveyAndPollsDetail", "SurveyPollsList")",
                type: "post",
                dataType: "json",
                data: { param: SurveyID },
            }).done(function (result) {
                $("#tableID").DataTable().clear();

                if (result.ID == '0') {
                    toastr.error(result.Message, 'Error', { timeOut: 3000, "closeButton": true });
                }
                else {
                    $("#tableID").DataTable().rows.add(result.Contents).draw(false);
                }

                setTimeout(function () {
                    waitingDialog.hide();
                }, 1000);

            }).fail(function (jqXHR, textStatus, errorThrown) {
                setTimeout(function () {
                    waitingDialog.hide();
                }, 1000);
            });


            var responsiveHelper_dt_basic = undefined;
            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };

            $("#tableID").dataTable({
                bDestroy: true,
                data: [],
                columns: [
                    {
                        "data": "Action", className: "txtAlignCenter", "render": function (data, type, row) {
                            if ('@ViewBag.AllowUpdate' == '0') {
                                return '<a href="#" class="fa fa-pencil disable"></a> &nbsp; | &nbsp; <a class="fa fa-trash-o disable"></a>'
                            } else {
                                return '<a href="#" class="fa fa-pencil" onclick="EditRecord(\'' + row.ID + '\')"></a> &nbsp; | &nbsp; <a href="#" class="fa fa-trash-o" onclick="DeleteRecord(\'' + row.ID + '\')"></a>'
                            }
                        }
                    },
                    { "data": "id", "autoWidth": true, className: "hidden" },
                    { "data": "QuestionID", "autoWidth": true, className: "hidden" },
                    { "data": "SurveyID", "autoWidth": true, className: "hidden" },
                    { "data": "QuestionSeqNo", "autoWidth": true, className: "hidden" },
                    { "data": "QuestionDesc", "autoWidth": true, className: "txtAlignLeft" },
                    { "data": "ParentQuestionID", "autoWidth": true, className: "txtAlignCenter" },
                    { "data": "ParentAnswerSeqNo", "autoWidth": true, className: "txtAlignCenter" }
                ],
                rowCallback: function (row, data) { responsiveHelper_dt_basic.createExpandIcon(row) },
                filter: true,
                info: true,
                ordering: true,
                processing: true,
                retrieve: true,
                bLengthChange: false,
                lengthMenu: [[15, 20, -1], [15, 20, "All"]],
                searching: true,
                bFilter: true,
                bSort: true,
                bPaginate: true,
                scrollX: false,
                scrolly: false,
                //scrollX: "100%",
                //scrollY: "350px",
                autoWidth: true,
                preDrawCallback: function () {
                    if (!responsiveHelper_dt_basic) {
                        responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#tableID'), breakpointDefinition);
                    }
                },
                drawCallback: function (oSettings) {
                    responsiveHelper_dt_basic.respond();
                }
            });
        }

        function FillCombo_SurveyTitle(type, code) {
            $.ajax({
                type: "POST",
                url:"@Url.Action("FillCombo", "SurveyPollsList")",
                datatype: 'json',
                data: { Type: type },
                success: function (result) {
                    if (result.ID == '0') {
                        toastr.warning(result.Message, 'Warning', { timeOut: 3000, closeButton: true, positionClass: "toast-top-full-width" });
                    } else {
                        $('#SurveyTitle').empty();
                        $.each(result.Contents, function (i, dt) {
                            if (code == dt.Code) {
                                $("#SurveyTitle").append('<option value="' + dt.Code + '" selected >' + dt.Description + '</option>');
                            } else {
                                $("#SurveyTitle").append('<option value="' + dt.Code + '">' + dt.Description + '</option>');
                            }
                        });
                    }
                },
                error: function (ex) {
                    toastr.error(ex, 'Failed', { timeOut: 3000, "closeButton": true });
                    setTimeout(function () {
                        waitingDialog.hide();
                    }, 1000);
                }
            });
        }
        function FillCombo_ParentQuestion(SurveyID) {
            $.ajax({
                url: "@Url.Action("FillParentQuestion", "SurveyPollsList")",
                type: "post",
                dataType: "json",
                data: { SurveyID: SurveyID },
                success: function (result) {
                    if (result.ID == '0') {
                        toastr.warning(result.Message, 'Warning', { timeOut: 3000, closeButton: true, positionClass: "toast-top-full-width" });
                    } else {
                        $('#ParentQuestion')
                            .find('option')
                            .remove()
                            .end()
                            ;
                        $.each(result.Contents, function (i, dt) {
                            $("#ParentQuestion").append('<option value="' + dt.Code + '">' + dt.Description + '</option>');
                        });
                    }
                },
                error: function (ex) {
                    toastr.error(ex, 'Failed', { timeOut: 3000, "closeButton": true });
                    setTimeout(function () {
                        waitingDialog.hide();
                    }, 1000);
                }
            });
        }
        function fillCombo_ParentAnswer() {
            var SurveyID = $("#txtsurveyid").val();
            var ParentQuestionID = $('#ParentQuestion').val();
            $.ajax({
                url: "@Url.Action("FillComboParentAnswer", "SurveyPollsList")",
                type: "post",
                dataType: "json",
                data: { SurveyID: SurveyID, ParentQuestionID: ParentQuestionID },
                success: function (result) {
                    debugger
                    if (result.ID == '0') {
                        toastr.warning(result.Message, 'Warning', { timeOut: 3000, closeButton: true, positionClass: "toast-top-full-width" });
                    } else {
                        $('#ParentAnswer')
                            .find('option')
                            .remove()
                            .end()
                            ;
                        $.each(result.Contents, function (i, dt) {
                            $("#ParentAnswer").append('<option value="' + dt.Code + '">' + dt.Description + '</option>');
                        });
                    }
                },
                error: function (ex) {
                    toastr.error(ex, 'Failed', { timeOut: 3000, "closeButton": true });
                    setTimeout(function () {
                        waitingDialog.hide();
                    }, 1000);
                }
            });
        }
        function FillCombo_AnswerType() {
            $.ajax({
                url: "@Url.Action("FillAnswerType", "SurveyPollsList")",
                type: "post",
                dataType: "json",
                success: function (result) {
                   // debugger
                    if (result.ID == '0') {
                        toastr.warning(result.Message, 'Warning', { timeOut: 3000, closeButton: true, positionClass: "toast-top-full-width" });
                    } else {
                        $('#AnswerType')
                            .find('option')
                            .remove()
                            .end()
                            ;
                        $.each(result.Contents, function (i, dt) {
                            $("#AnswerType").append('<option value="' + dt.Code + '">' + dt.Description + '</option>');
                        });
                    }
                },
                error: function (ex) {
                    toastr.error(ex, 'Failed', { timeOut: 3000, "closeButton": true });
                    setTimeout(function () {
                        waitingDialog.hide();
                    }, 1000);
                }
            });
        }
        function saveSurvey() {
            var SurveyID = $("#txtsurveyid").val();
            var SurveyTitle = $("#txttitle").val();
            var SurveyStatus = "0";
            var StartDate = $("#startdate").val();
            var EndDate = $("#enddate").val();
            var ViewChart;

            if ($('#chkViewChart').is(":checked")) {
                ViewChart = 1
            } else {
                ViewChart = 0
            }
            var param = {
                SurveyID: SurveyID,
                SurveyTitle: SurveyTitle,
                SurveyStatus: SurveyStatus,
                StartDate: StartDate,
                EndDate: EndDate,
                ViewChart: ViewChart
            };

            var pdata = { 'param': param }
            $.ajax({
                url: "@Url.Action("SaveHeader", "SurveyPollsList")",
                type: "post",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(pdata),
                success: function (data) {
                    /*alert(data.msg);*/
                },
                error: function () {
                    setTimeout(function () {
                        waitingDialog.hide();
                    }, 1000);
                }
            }).done(function (result) {

               /* $("#txtQuestionID").val(result.Contents);*/
                setTimeout(function () {
                    waitingDialog.hide();
                }, 1000);

            });
        }

        function savequestionanswer() {
            var QuestionID = $("#txtQuestionID").val();
            var SurveyID = $("#txtsurveyid").val();

            // Question
            var QuestionDesc = $("#QuestionDescription").val();
            var ParentQuestionID = $("#ParentQuestion").val();
            var ParentAnswerSeqNo = $("#ParentAnswer").val();
            var AnswerType = $("#AnswerType").val();

            // Answer
            var txtFreeText = $("#txtFreeText").val();

            var txtmlt1 = $("#txtmlt1").val();
            var txtmlt2 = $("#txtmlt2").val();
            var txtmlt3 = $("#txtmlt3").val();
            var txtmlt4 = $("#txtmlt4").val();


            var dataQuestion = { SurveyID: SurveyID, QuestionID: QuestionID, QuestionDesc: QuestionDesc, ParentQuestionID: ParentQuestionID, ParentAnswerSeqNo: ParentAnswerSeqNo, AnswerType: AnswerType };
            var dataAnswer = { SurveyID: SurveyID, QuestionID: QuestionID, txtFreeText: txtFreeText, txtmlt1: txtmlt1, txtmlt2: txtmlt2, txtmlt3: txtmlt3, txtmlt4: txtmlt4}

            var pdata = { 'param': dataQuestion, 'param2': dataAnswer }
            $.ajax({
                url: "@Url.Action("SaveDetail", "SurveyPollsList")",
                type: "post",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(pdata),
                success: function (data) {
                    if (data.ID == '0') {
                        toastr.warning(data.Message, 'Warning', { timeOut: 3000, closeButton: true, positionClass: "toast-top-full-width" });
                    } else {
                        toastr.success(data.Message, 'Success', { timeOut: 3000, closeButton: true, positionClass: "toast-top-full-width" });

                        loadDataAftersave()
                        $("#MyModal").modal("hide");
                    }
                },
                error: function () {
                    setTimeout(function () {
                        waitingDialog.hide();
                    }, 1000);
                }
            }).done(function (result) {

               /* $("#txtQuestionID").val(result.Contents);*/
                setTimeout(function () {
                    waitingDialog.hide();
                }, 1000);

            });
        }

        $("#ParentQuestion").on('change', function () {
            var SurveyID = $("#txtsurveyid").val();
            var ParentQuestionID = this.value;
            $.ajax({
                url: "@Url.Action("FillComboParentAnswer", "SurveyPollsList")",
                type: "post",
                dataType: "json",
                data: { SurveyID: SurveyID, ParentQuestionID: ParentQuestionID },
                success: function (result) {
                   // debugger
                    if (result.ID == '0') {
                        toastr.warning(result.Message, 'Warning', { timeOut: 3000, closeButton: true, positionClass: "toast-top-full-width" });
                    } else {
                        $('#ParentAnswer')
                            .find('option')
                            .remove()
                            .end()
                            ;
                        $.each(result.Contents, function (i, dt) {
                            $("#ParentAnswer").append('<option value="' + dt.Code + '">' + dt.Description + '</option>');
                        });
                    }
                },
                error: function (ex) {
                    toastr.error(ex, 'Failed', { timeOut: 3000, "closeButton": true });
                    setTimeout(function () {
                        waitingDialog.hide();
                    }, 1000);
                }
            });
        });
        $("#AnswerType").on('change', function () {
            var type = this.value;
            $("#tblMulti").removeClass("answer-type");
            $("#tblMulti").removeClass("answer-type-hide");
            $("#tblFreetext").removeClass("answer-type");
            $("#tblFreetext").removeClass("answer-type-hide");
            if (type == "0") {
                $("#tblMulti").addClass("answer-type");
                $("#tblFreetext").addClass("answer-type-hide");
            } else if (type == "1") {
                $("#tblMulti").addClass("answer-type-hide");
                $("#tblFreetext").addClass("answer-type");
            }
        });

        function EditRecord(id) {
            var SurveyID = $("#txtsurveyid").val();
            FillCombo_ParentQuestion(SurveyID);
            FillCombo_AnswerType();
            var ParentAnswerSeqNo
            var AnswerType
            $("#detailID").val(id)
            $.ajax({
                url: "@Url.Action("Load_Edit", "SurveyPollsList")",
                type: "post",
                dataType: "json",
                data: { param: id },
                success: function (data) {
                    ojk = data.Contents;
                    if (data.ID == '0') {
                        toastr.warning(data.Message, 'Warning', { timeOut: 3000, closeButton: true, positionClass: "toast-top-full-width" });
                    } else {
                        var objDT = data.Contents;
                        $("#ModalTitle").html("Update Question Survey & Polls");
                        $("#MyModal").modal();
                        $('#InsertData').hide();
                        $('#UpdateData').show();
                        $("#ParentQuestion > [value=" + objDT[0].ParentQuestionID + "]").attr("selected", "true");
                        var u = 1;
                        ParentAnswerSeqNo = objDT[0].ParentAnswerSeqNo;
                        AnswerType = objDT[0].AnswerType;
                        $("#txtQuestionID").val(objDT[0].QuestionID);
                        $("#QuestionDescription").val(objDT[0].QuestionDesc);

                        combo(SurveyID, objDT[0].ParentQuestionID, ParentAnswerSeqNo, AnswerType);
                        $("#AnswerType").val(AnswerType);
                        if (AnswerType == "0") {
                            $("#tblMulti").addClass("answer-type");
                            $("#tblFreetext").addClass("answer-type-hide");
                        } else if (AnswerType == "1") {
                            $("#tblMulti").addClass("answer-type-hide");
                            $("#tblFreetext").addClass("answer-type");
                        }

                        $.each(data.Contents, function (i, dt) {
                            if (u == 1) {
                                if (AnswerType == "0") {
                                    $("#txtmlt1").val(dt.AnswerDesc);
                                } else {
                                    $("#txtFreeText").val(dt.AnswerDesc);
                                }
                            }
                            if (u == 2) {
                                $("#txtmlt2").val(dt.AnswerDesc);
                            }
                            if (u == 3) {
                                $("#txtmlt3").val(dt.AnswerDesc)
                            }
                            if (u == 4) {;
                                $("#txtmlt4").val(dt.AnswerDesc);
                            }
                            u += 1;
                        });
                    }
                },
                error: function () {
                    setTimeout(function () {
                        waitingDialog.hide();
                    }, 1000);
                }
            });
        }
        function DeleteRecord(id) {
            $.ajax({
                url: "@Url.Action("delete", "SurveyPollsList")",
                type: "post",
                dataType: "json",
                data: { param: id },
            }).done(function (result) {
                if (result.ID == '0') {
                    toastr.error(result.Message, 'Error', { timeOut: 3000, "closeButton": true });
                }
                else {
                    toastr.success(result.Message, 'Succes', { timeOut: 3000, "closeButton": true });
                    loadDataAftersave()
                }

                setTimeout(function () {
                    waitingDialog.hide();
                }, 1000);

            }).fail(function (jqXHR, textStatus, errorThrown) {
                setTimeout(function () {
                    waitingDialog.hide();
                }, 1000);
            });
        }

        function Updatequestionanswer() {
            debugger
            var QuestionID = $("#txtQuestionID").val();
            var SurveyID = $("#txtsurveyid").val();
            var id = $("#detailID").val();
            // Question
            var QuestionDesc = $("#QuestionDescription").val();
            var ParentQuestionID = $("#ParentQuestion").val();
            var ParentAnswerSeqNo = $("#ParentAnswer").val();
            var AnswerType = $("#AnswerType").val();

            // Answer
            var txtFreeText = $("#txtFreeText").val();

            var txtmlt1 = $("#txtmlt1").val();
            var txtmlt2 = $("#txtmlt2").val();
            var txtmlt3 = $("#txtmlt3").val();
            var txtmlt4 = $("#txtmlt4").val();


            var dataQuestion = { SurveyID: SurveyID, QuestionID: QuestionID, QuestionDesc: QuestionDesc, ParentQuestionID: ParentQuestionID, ParentAnswerSeqNo: ParentAnswerSeqNo, AnswerType: AnswerType };
            var dataAnswer = { SurveyID: SurveyID, QuestionID: QuestionID, txtFreeText: txtFreeText, txtmlt1: txtmlt1, txtmlt2: txtmlt2, txtmlt3: txtmlt3, txtmlt4: txtmlt4}

            var pdata = { 'id':id, 'param': dataQuestion, 'param2': dataAnswer }
            $.ajax({
                url: "@Url.Action("UpdateDetail", "SurveyPollsList")",
                type: "post",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(pdata),
                success: function (data) {
                    if (data.ID == '0') {
                        toastr.warning(data.Message, 'Warning', { timeOut: 3000, closeButton: true, positionClass: "toast-top-full-width" });
                    } else {
                        toastr.success(data.Message, 'Success', { timeOut: 3000, closeButton: true, positionClass: "toast-top-full-width" });

                        loadDataAftersave()
                        $("#MyModal").modal("hide");
                    }
                },
                error: function () {
                    setTimeout(function () {
                        waitingDialog.hide();
                    }, 1000);
                }
            }).done(function (result) {

               /* $("#txtQuestionID").val(result.Contents);*/
                setTimeout(function () {
                    waitingDialog.hide();
                }, 1000);

            });
        }

        function combo(SurveyID, ParentQuestionID, pa, at) {
            $.ajax({
                url: "@Url.Action("FillComboParentAnswer", "SurveyPollsList")",
                type: "post",
                dataType: "json",
                data: { SurveyID: SurveyID, ParentQuestionID: ParentQuestionID },
                success: function (result) {
                   // debugger
                    if (result.ID == '0') {
                        toastr.warning(result.Message, 'Warning', { timeOut: 3000, closeButton: true, positionClass: "toast-top-full-width" });
                    } else {
                        $('#ParentAnswer')
                            .find('option')
                            .remove()
                            .end()
                            ;
                        $.each(result.Contents, function (i, dt) {
                            $("#ParentAnswer").append('<option value="' + dt.Code + '">' + dt.Description + '</option>');
                        });
                        $("#ParentAnswer").val(pa);
                    }
                },
                error: function (ex) {
                    toastr.error(ex, 'Failed', { timeOut: 3000, "closeButton": true });
                    setTimeout(function () {
                        waitingDialog.hide();
                    }, 1000);
                }
            });
        }

    </script>
}