@model PGMEATS_WEB.Models.clsClinicInformationList

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <section id="widget-grid" class="">
        <div class="row">

            <article class="col-xs-12 col-md-12">
                <div class="jarviswidget jarviswidget-color-red" id="wid-id-1"
                     data-widget-colorbutton="false"
                     data-widget-editbutton="false"
                     data-widget-togglebutton="false"
                     data-widget-deletebutton="false"
                     data-widget-custombutton="false"
                     data-widget-collapsed="false"
                     data-widget-sortable="false">

                    <header style="border-top-left-radius:8px; border-top-right-radius:8px">
                        <h2 style="font-family:'Poppins';font-weight:500;font-size:15px">List Of Clinic Information</h2>
                    </header>

                    <div style="border-bottom-left-radius:8px; border-bottom-right-radius:8px">
                        <div style="padding: 5px 5px 5px 5px">
                            <table style="width: 100%;">
                                <tr style="height: 50px">
                                    <td>
                                        <button id="btnNew" class="btn borderradiusbtn" style="font-family: 'Poppins'; font-size: 15px; font-weight: 500; background-color: #4CBFBC; width:85px" data-toggle="modal" data-target="#myModal" onclick="AddNewData()"><span style="color:white">New</span></button>
                                    </td>
                                </tr>
                            </table>

                            <table id="table-fixed" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;width: 7%">Action</th>
                                        <th style="text-align: center">
                                            Clinic Name
                                        </th>
                                        <th style="text-align: center">
                                            Address
                                        </th>
                                        <th style="text-align: center">
                                            City
                                        </th>
                                        <th style="text-align: center">
                                            State
                                        </th>
                                        <th style="text-align: center">
                                            PostalCode
                                        </th>
                                        <th style="text-align: center">
                                            Region
                                        </th>
                                        <th style="text-align: center">
                                            Operation Hour
                                        </th>
                                        <th style="text-align: center">
                                            Phone No
                                        </th>
                                        <th style="text-align: center">
                                            Remark
                                        </th>
                                        <th style="text-align: center">
                                            URL
                                        </th>
                                        <th style="text-align: center">
                                            URLDisplay
                                        </th>
                                    </tr>
                                </thead>
                            </table>


                            <div class="modal fade" id="MyModal">
                                <div class="modal-dialog" style="width:400px">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <a href="#" class="close" data-dismiss="modal">&times;</a>
                                            <h4 style="font-family:'Poppins'" id="ModalTitle"></h4>
                                        </div>
                                        <div class="modal-body">
                                            <form id="form" class="smart-form">
                                                <fieldset id="SubmitForm">
                                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                    <table style="border:0px solid black; width:100%">

                                                        <tr>
                                                            <td>
                                                                <div class="form-group ">
                                                                    <label style="font-weight:500; margin-bottom:0.5em;" for="ClinicName">Clinic Name</label>
                                                                    @Html.TextBoxFor(Model => Model.ClinicName, new { @id = "ClinicName", @class = "form-control input-md", placeholder = "Enter Clinic Name", @style = "height:20px; width:300px; font-family:'Segoe UI'; font-weight: 500;" })
                                                                </div>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                <div class="form-group ">
                                                                    <label style="font-weight:500; margin-bottom:0.5em;" for="Address">Address</label>
                                                                    @Html.TextBoxFor(Model => Model.Address, new { @id = "Address", @class = "form-control input-md", placeholder = "Enter Address", @style = "height:20px; width:300px; font-family:'Segoe UI'; font-weight: 500;" })
                                                                </div>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                <div class="form-group ">
                                                                    <label style="font-weight:500; margin-bottom:0.5em;" for="City">City</label>
                                                                    @Html.TextBoxFor(Model => Model.City, new { @id = "City", @class = "form-control input-md", placeholder = "Enter City", @style = "height:20px; width:300px; font-family:'Segoe UI'; font-weight: 500;" })
                                                                </div>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                <div class="form-group ">
                                                                    <label style="font-weight:500; margin-bottom:0.5em;" for="State">State</label>
                                                                    @*@Html.TextBoxFor(Model => Model.State, new { @id = "State", @class = "form-control input-md", placeholder = "Enter State", @style = "height:20px; width:300px; font-family:'Segoe UI'; font-weight: 500;" })*@
                                                                    <select id="State" , class="form-control input-md" , style="height:20px; width:300px; font-family:'Segoe UI'; font-weight: 500;"></select>
                                                                </div>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                <div class="form-group ">
                                                                    <label style="font-weight:500; margin-bottom:0.5em;" for="PostalCode">Postal Code</label>
                                                                    @Html.TextBoxFor(Model => Model.PostalCode, new { @id = "PostalCode", @class = "form-control input-md", placeholder = "Enter Postal Code", @style = "height:20px; width:300px; font-family:'Segoe UI'; font-weight: 500;" })
                                                                </div>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                <div class="form-group ">
                                                                    <label style="font-weight:500; margin-bottom:0.5em;" for="Region">Region</label>
                                                                    @Html.TextBoxFor(Model => Model.Region, new { @id = "Region", @class = "form-control input-md", placeholder = "Enter Region", @style = "height:20px; width:300px; font-family:'Segoe UI'; font-weight: 500;" })
                                                                    @Html.HiddenFor(Model => Model.ClinicID, new { @id = "ClinicID" })
                                                                </div>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                <div class="form-group ">
                                                                    <label style="font-weight:500; margin-bottom:0.5em;" for="OperationHour">Operation Hour</label>
                                                                    <div>
                                                                        <input type="checkbox" id="bIstwentyfourHour" />
                                                                        <span id="bIstwentyfourHour" style="font-family:'Poppins'">Open 24 Hour</span>
                                                                    </div>
                                                                    @Html.TextBoxFor(Model => Model.OperationHour, new { @id = "OperationHour", @class = "form-control input-md", placeholder = "Enter Operation Hour", @style = "height:20px; width:300px; font-family:'Segoe UI'; font-weight: 500;",maxlength = 2 })
                                                                </div>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                <div class="form-group ">
                                                                    <label style="font-weight:500; margin-bottom:0.5em;" for="PhoneNo">Phone No</label>
                                                                    @Html.TextBoxFor(Model => Model.Phone_No, new { @id = "PhoneNo", @class = "form-control input-md", placeholder = "Enter Phone Number", @style = "height:20px; width:300px; font-family:'Segoe UI'; font-weight: 500;" })
                                                                </div>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                <div class="form-group ">
                                                                    <label style="font-weight:500; margin-bottom:0.5em;" for="Remark">Description</label>
                                                                    @Html.TextBoxFor(Model => Model.Remark, new { @id = "Remark", @class = "form-control input-md", placeholder = "Enter Remark", @style = "height:20px; width:300px; font-family:'Segoe UI'; font-weight: 500;" })
                                                                </div>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                <div class="form-group ">
                                                                    <label style="font-weight:500; margin-bottom:0.5em;" for="URL">URL</label>
                                                                    @Html.TextBoxFor(Model => Model.URL, new { @id = "URL", @class = "form-control input-md", placeholder = "Enter URL", @style = "height:20px; width:300px; font-family:'Segoe UI'; font-weight: 500;" })
                                                                </div>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                <div class="form-group ">
                                                                    <label style="font-weight:500; margin-bottom:0.5em;" for="URLDisplay">URLDisplay</label>
                                                                    @Html.TextBoxFor(Model => Model.URLDisplay, new { @id = "URLDisplay", @class = "form-control input-md", placeholder = "Enter URL Display", @style = "height:20px; width:300px; font-family:'Segoe UI'; font-weight: 500;" })
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </fieldset>
                                            </form>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal" style="width:85px; font-size:13px; border-width:thin;" onclick="return clearTextBox()">Cancel</button>
                                            <button type="button" class="btn btn-save" id="InsertData" style="width:85px; font-size:13px;">Save</button>
                                            <button type="button" class="btn btn-save" id="UpdateData" style="width:85px; font-size:13px; display:none;">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="DeleteConfirmation">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <a href="#" class="close" data-dismiss="modal">&times;</a>
                                            <h4 style="font-family:'Poppins'">Delete Data Clinic</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h4 style="font-family:'Poppins'">Are you sure to delete this data?</h4>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="#" class="btn btn-save" style="width:85px; font-size:13px" id="DeleteData">Confirm</a>
                                            <a href="#" class="btn btn-default" style="width: 85px; font-size: 13px; border-width: thin;" data-dismiss="modal" id="DeleteCancel">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<style type="text/css">
    .txtAlignCenter {
        text-align: center;
    }
    .btn-save {
        color: #fff;
        background-color: #4CBFBC;
        border-color: #4CBFBC;
    }
</style>


<script src="~/Scripts/plugin/bootstrap-waitingfor/bootstrap-waitingfor.min.js"></script>
<script src="~/Scripts/plugin/chartjs/chart.min.js"></script>
<script src="~/Scripts/plugin/chartjs/chartjs-plugin-annotation.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>


@section pagespecific
{
    <script>
        $(document).ready(function () {
            var otable = $('#table-fixed').DataTable({
                bLengthChange: false,
                "paging": true,
                "bPaginate": false,
                "ordering": false,
                "processing": true,
                "serverSide": true,
                "stateSave": true,
                "bAutoWidth": false,
                "searching": true,
                "bFilter": true,
                "scrollCollapse": true,
                ajax: {
                    url: "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))/ClinicInformationList/ClinicInformationLists",
                    type: "POST"
                },
                columns: [
                    {
                        "data": "ACTION",
                        className: "txtAlignCenter",
                        "bSearchable": false,
                        "bSortable": false,
                        'mRender': function (data, type, row) {
                            return '<a class="fa fa-pencil" style="font-size: x-large;" href="#" onclick="EditData(\'' + row.ClinicID + '|' + row.ClinicName + '|' + row.Region + '|' + row.State + '|' + row.Address + '|' + row.Phone_No + '|' + row.Remark + '|' + row.URL + '|' + row.URLDisplay + '|' + row.City + '|' + row.PostalCode + '|' + row.OperationHour + '\')" @ViewBag.UpdateHidden ></a>' + '<div style="display: inline-block; padding: 0px 10px 0px 10px; font-size: 20px;">|</div>' +
                                '<a class="fa fa-trash-o" style="font-size: x-large;" href="#" @ViewBag.DeleteHidden onclick="DeleteData(\'' + row.ClinicID + '\')"></a>';
                        }
                    },
                    { "data": "ClinicName", "orderable": true },
                    { "data": "Address", "orderable": true },
                    { "data": "City", "orderable": true },
                    { "data": "State", "orderable": true },
                    { "data": "PostalCode", "orderable": true },
                    { "data": "Region", "orderable": true },
                    { "data": "OperationHour", "orderable": true },
                    { "data": "Phone_No", "orderable": true },
                    { "data": "Remark", "orderable": true },
                    { "data": "URL", "orderable": true },
                    { "data": "URLDisplay", "autoWidth": true},
                ],
                "order": [[0, "asc"]]
            });

            $("#table-fixed thead th input[type=text]").on('keyup change', function () {
                otable
                    .column($(this).parent().index() + ':visible')
                    .search(this.value)
                    .draw();

            });

            $("#table-fixed thead th input[type=text]").on('keyup change', function () {
                otable
                    .column($(this).parent().index() + ':visible')
                    .search(this.value)
                    .draw();

            });

            $("OperationHour").attr({
                "max": 24,        // substitute your own
                "min": 0          // values (or variables) here
            });

            $('#PhoneNo').keypress(function (e) {

                var charCode = (e.which) ? e.which : event.keyCode

                if (String.fromCharCode(charCode).match(/[^0-9 ()+]/g))

                    return false;

            });

            $('#OperationHour').keypress(function (e) {

                var charCode = (e.which) ? e.which : event.keyCode

                if (String.fromCharCode(charCode).match(/[^0-9]/g))

                    return false;

            });
        });

        function clearTextBox() {
            $("#ClinicName").val('');
            $("#Region").val('');
            $("#State").empty();
            $("#Address").val('');
            $("#PhoneNo").val('');
            $("#Remark").val('');
            $("#URL").val('');
            $("#URLDisplay").val('');
            $("#City").val('');
            $("#PostalCode").val('');
            $("#OperationHour").val('');
        }

        function AddNewData() {
            debugger
            clearTextBox();
            FillComboState();
            $("#ModalTitle").html("Create Data Clinic");
            $("#MyModal").modal();
            $('#InsertData').show();
            $('#UpdateData').hide();
        }

        $("#InsertData").click(function () {
            var ClinicName = $("#ClinicName").val();
            var Region = $("#Region").val();
            var State = $("#State").val();
            var Address = $("#Address").val();
            var PhoneNo = $("#PhoneNo").val();
            var Remark = $("#Remark").val();
            var URL = $("#URL").val();
            var URLDisplay = $("#URLDisplay").val();
            var City = $("#City").val();
            var PostalCode = $("#PostalCode").val();
            var OperationHour = $("#OperationHour").val();



            console.log("InsertData () " + PhoneNo);

            if (Region == "") {
                toastr.warning("Please, enter region name!", 'Warning', { timeOut: 3000, closeButton: true });
            } else if (ClinicName == "") {
                toastr.warning("Please, enter clinic name!", 'Warning', { timeOut: 3000, closeButton: true });
            } else {
                var formDatax = new FormData();
                formDatax.append("ClinicName", ClinicName) ?? "";
                formDatax.append("Region", Region) ?? "";
                formDatax.append("State", State) ?? "";
                formDatax.append("Address", Address) ?? "";
                formDatax.append("Phone_No", PhoneNo) ?? "";
                formDatax.append("Remark", Remark) ?? "";
                formDatax.append("URL", URL) ?? "";
                formDatax.append("URLDisplay", URLDisplay) ?? "";
                formDatax.append("City", City) ?? "";
                formDatax.append("PostalCode", PostalCode) ?? "";
                formDatax.append("OperationHour", OperationHour) ?? "";



                saveData(formDatax);
            }



            //var bIsDataExist = false;
            //bIsDataExist = ValidateBeforeInsert(Region, ClinicName);

            //if (bIsDataExist == false) {

            //    var formDatax = new FormData();
            //    formDatax.append("Region", Region) ?? "";
            //    formDatax.append("ClinicName", ClinicName) ?? "";
            //    formDatax.append("Description", Description) ?? "";
            //    formDatax.append("URL", URL) ?? "";
            //    formDatax.append("URLDisplay", URLDisplay) ?? "";

            //    saveData(formDatax);
            //} else {
            //    toastr.warning("Data Already Exist!", 'Warning', { timeOut: 3000, closeButton: true });
            //}

        });

        function saveData(formdata) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("ClinicInformationIns", "ClinicInformationList")", //"/ClinicInformationList/ClinicInformationIns/",
                contentType: false,
                processData: false,
                data: formdata,
                success: function (result) {
                    if (result.Message.toLowerCase().includes("success")) {

                        toastr.success(result.Message, 'Success', { timeOut: 3000, closeButton: true });
                        $('#MyModal').modal('hide');
                        millisecondsToWait = 1000;
                        setTimeout(function () {
                            window.location.reload(true);
                        }, millisecondsToWait);

                    } else {
                        toastr.warning(result.Message, 'Warning', { timeOut: 3000, closeButton: true });
                    }
                },
                error: function (ex) {
                    toastr.error(ex, 'Failed', { timeOut: 3000, "closeButton": true });
                }
            });
        }

        function EditData(data) {
            debugger
            var ClinicID = data.split('|')[0];
            var ClinicName = data.split('|')[1];
            var Region = data.split('|')[2];
            var State = data.split('|')[3];
            var Address = data.split('|')[4];
            var PhoneNo = data.split('|')[5];
            var Remark = data.split('|')[6];
            var URL = data.split('|')[7];
            var URLDisplay = data.split('|')[8];
            var City = data.split('|')[9];
            var PostalCode = data.split('|')[10];
            var OperationHour = data.split('|')[11];


            console.log("EditData() " + PhoneNo);

            clearTextBox();
            $("#ModalTitle").html("Edit Data Clinic Information");
            $("#MyModal").modal();
            $('#InsertData').hide();
            $('#UpdateData').show();

            $("#ClinicID").val(ClinicID);
            $("#ClinicName").val(ClinicName);
            $("#Region").val(Region);
            FillComboState(State);
            $("#Address").val(Address);
            $("#PhoneNo").val(PhoneNo);
            $("#Remark").val(Remark);
            $("#URL").val(URL);
            $("#URLDisplay").val(URLDisplay);
            $("#City").val(City);
            $("#PostalCode").val(PostalCode);
            $("#OperationHour").val(OperationHour);

        }

        $("#UpdateData").click(function () {
            var ClinicID = $("#ClinicID").val() ?? "";
            var ClinicName = $("#ClinicName").val() ?? "";
            var Region = $("#Region").val() ?? "";
            var State = $("#State").val() ?? "";
            var Address = $("#Address").val() ?? "";
            var PhoneNo = $("#PhoneNo").val() ?? "";
            var Remark = $("#Remark").val() ?? "";
            var URL = $("#URL").val() ?? "";
            var URLDisplay = $("#URLDisplay").val() ?? "";
            var City = $("#City").val() ?? "";
            var PostalCode = $("#PostalCode").val() ?? "";
            var OperationHour = $("#OperationHour").val() ?? "";


            console.log("UpdateData " + PhoneNo);

            var formData = new FormData();
            formData.append("ClinicID", ClinicID) ?? "";
            formData.append("ClinicName", ClinicName) ?? "";
            formData.append("Region", Region) ?? "";
            formData.append("State", State) ?? "";
            formData.append("Address", Address) ?? "";
            formData.append("Phone_No", PhoneNo) ?? "";
            formData.append("Remark", Remark) ?? "";
            formData.append("URL", URL) ?? "";
            formData.append("URLDisplay", URLDisplay) ?? "";
            formData.append("City", City) ?? "";
            formData.append("PostalCode", PostalCode) ?? "";
            formData.append("OperationHour", OperationHour) ?? "";

            updateData(formData);
        })

        function updateData(formdata) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("ClinicInformationUpd", "ClinicInformationList")", //"/ClinicInformationList/ClinicInformationUpd/",
                contentType: false,
                processData: false,
                data: formdata,
                success: function (result) {
                    if (result.Message.toLowerCase().includes("success")) {

                        toastr.success(result.Message, 'Success', { timeOut: 3000, closeButton: true });
                        $('#MyModal').modal('hide');
                        millisecondsToWait = 1000;
                        setTimeout(function () {
                            window.location.reload(true);
                        }, millisecondsToWait);

                    } else {
                        toastr.warning(result.Message, 'Warning', { timeOut: 3000, closeButton: true });
                    }
                },
                error: function (ex) {
                    toastr.error(ex, 'Failed', { timeOut: 3000, "closeButton": true });
                }
            });
        }

        function DeleteData(data) {
            //var ClinicID = data.split('|')[0];

            var ClinicID = data;
            console.log("Data ID Buat Delete  " + data);


            //var Region = data.split('|')[0];
            //var ClinicName = data.split('|')[1];

            //$("#Region").val(Region);
            //$("#ClinicName").val(ClinicName);

            $("#ClinicID").val(ClinicID);

            $("#DeleteConfirmation").modal("show");
        }

        $("#DeleteData").click(function () {
            var Region = $("#Region").val() ?? "";
            var ClinicName = $("#ClinicName").val() ?? "";
            var pClinicID = $("#ClinicID").val() ?? "";
            $.ajax({
                type: "POST",
                url: "@Url.Action("ClinicInformationDel", "ClinicInformationList")", //"/ClinicInformationList/ClinicInformationDel",
                datatype: 'json',
                data: { ClinicID: pClinicID},
                success: function (result) {
                    if (result.Message.toLowerCase().includes("success")) {
                        toastr.success(result.Message, 'Success', { timeOut: 3000, closeButton: true });
                        $('#MyModal').modal('hide');
                        millisecondsToWait = 1000;
                        setTimeout(function () {
                            window.location.reload(true);
                        }, millisecondsToWait);
                    } else {
                        toastr.warning(result.Message, 'Warning', { timeOut: 3000, closeButton: true });
                    }
                },
                error: function (ex) {
                    toastr.error(ex, 'Failed', { timeOut: 3000, "closeButton": true });
                }
            });
        })

        function ValidateBeforeInsert(pCLinicID) {
            var pParam = pCLinicID;
            var bIsDataExist;
            $.ajax({
                async: false,
                type: "POST",
                url: "@Url.Action("ClinicInformationValidateBeforeInsert", "ClinicInformationList")", //"/ClinicInformationList/ClinicInformationValidateBeforeInsert",
                datatype: 'json',
                data: { pParam: pParam },
                success: function (result) {
                    if (result.Contents == true) {
                        bIsDataExist = true;
                    } else {
                        bIsDataExist = false;
                    }
                },
                error: function (ex) {
                    toastr.error(ex, 'Failed', { timeOut: 3000, "closeButton": true });
                }
            });

            return bIsDataExist;
        }

        function FillComboState(StateID) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("ClinicInformationGetListState", "ClinicInformationList")",
                datatype: 'json',
                success: function (result) {
                    debugger
                    if (result.ID == '0') {
                        toastr.warning(result.Message, 'Warning', { timeOut: 3000, closeButton: true, positionClass: "toast-top-full-width" });
                    } else {
                        $('#State').empty();
                        $.each(result.Contents, function (i, dt) {
                            if (StateID == dt.State) {
                                $("#State").append('<option value="' + dt.State + '" selected >' + dt.State + '</option>');
                            } else {
                                $("#State").append('<option value="' + dt.State + '">' + dt.State + '</option>');

                            }
                        });
                    }
                },
                error: function (ex) {
                    toastr.error(ex, 'Failed', { timeOut: 3000, "closeButton": true });
                    setTimeout(function () {
                        waitingDialog.hide();
                    }, 1000);
                }
            });
        }

        $("#bIstwentyfourHour").click(function () {
            if ($(this).is(":checked")) {
                $('#OperationHour').attr("disabled", "disabled");
                $('#OperationHour').val(24);
            } else {
                $('#OperationHour').val("");
                $('#OperationHour').attr("disabled", $(this).is(":checked"));
            }
        });
    </script>

}

