@model PGMEATS_WEB.Models.clsUserGroup
@{
    ViewBag.MasterRoot = "Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-md-12">
                <div class="jarviswidget jarviswidget-color-red" id="wid-id-1"
                     data-widget-colorbutton="false"
                     data-widget-editbutton="false"
                     data-widget-togglebutton="false"
                     data-widget-deletebutton="false"
                     data-widget-custombutton="false"
                     data-widget-collapsed="false"
                     data-widget-sortable="false">

                    <header style="border-top-left-radius:8px; border-top-right-radius:8px">
                        <h2 style="font-family:'Poppins-Regular';font-weight:500;font-size:13px">User Group</h2>
                    </header>

                    <div style="border-bottom-left-radius:8px; border-bottom-right-radius:8px">
                        <div class="widget-body">
                            @Html.ValidationSummary(true)

                            <div class="table-toolbar" style="padding-bottom:10px">
                                <table>
                                    <tr>
                                        <td>
                                            @if (ViewBag.AllowUpdate == "0")
                                            {
                                                <div style="padding-left:-10px"></div>
                                                <button id="btnAdd" class="btn btn-primary" style="width:85px" type="button" data-toggle="modal" data-target="#myModal" value="New" disabled onclick="AddNewData()">
                                                    <span style="font-size:13px">New</span>
                                                </button>
                                            }
                                            else
                                            {
                                                <div style="padding-left:-10px"></div>
                                                <button id="btnAdd" class="btn btn-primary" style="width:85px" type="button" data-toggle="modal" data-target="#myModal" value="New" onclick="AddNewData()">
                                                    <span style="font-size:13px">New</span>
                                                </button>
                                            }
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <table id="tableID" data-page-size='3' class="table table-striped table-hover table-bordered">
                                <thead>
                                    <tr role="row">
                                        <th style="text-align:center;width:8%">
                                            Action
                                        </th>
                                        <th style="text-align:center;width:17%">
                                            Group ID
                                        </th>
                                        <th style="text-align:center;width:35%">
                                            Group Description
                                        </th>
                                        <th style="text-align:center;width:20%">
                                            Last User
                                        </th>
                                        <th style="text-align:center;width:20%">
                                            Last Update
                                        </th>
                                    </tr>
                                </thead>

                                <tbody></tbody>
                            </table>

                            @*Create A Popup Modal*@
                            <div class="modal fade" id="MyModal">
                                <div class="modal-dialog" style="width:400px">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <a href="#" class="close" data-dismiss="modal">&times;</a>
                                            <h4 style="font-family:'Poppins-Regular'" id="ModalTitle"></h4>
                                        </div>

                                        <div class="modal-body">
                                            <form id="form" class="smart-form">
                                                <fieldset id="SubmitForm">
                                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                    <table style="border:0px solid black; width:100%">
                                                        <tr>
                                                            <td>
                                                                <div class="form-group ">
                                                                    <label style="font-weight:500" for="UserID">User ID</label>
                                                                    @Html.TextBoxFor(m => m.GroupID, new { @id = "GroupID", @class = "form-control input-md", placeholder = "Enter group id", required = "required", @style = "height:20px; width:150px" })
                                                                    @Html.ValidationMessageFor(m => m.GroupID, "", new { @class = "text-danger" })
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="form-group">
                                                                    <label style="font-weight:500" for="FullName">Full Name</label>
                                                                    @Html.TextBoxFor(m => m.GroupDescription, new { @id = "GroupDescription", @class = "form-control input-md", placeholder = "Enter group description", required = "required", @style = "height:20px; width:300px" })
                                                                    @Html.ValidationMessageFor(m => m.GroupDescription, "", new { @class = "text-danger" })
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </fieldset>
                                            </form>
                                        </div>

                                        <div class="modal-footer">
                                            @if (ViewBag.AllowWrite == "0")
                                            {
                                                <button type="button" class="btn btn-primary" id="InsertData" style="width:85px; font-size:13px" disabled>Save</button>
                                                <button type="button" class="btn btn-primary" id="UpdateData" style="width:85px; font-size:13px; display:none;" disabled>Update</button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btn btn-primary" id="InsertData" style="width:85px; font-size:13px">Save</button>
                                                <button type="button" class="btn btn-primary" id="UpdateData" style="width:85px; font-size:13px; display:none;">Update</button>
                                            }
                                            <button type="button" class="btn btn-default" data-dismiss="modal" style="width:85px; font-size:13px" onclick="return clearTextBox()">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="DeleteConfirmation">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <a href="#" class="close" data-dismiss="modal">&times;</a>
                                            <h4 style="font-family:'Poppins-Regular'">Delete Data User Setup</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h4 style="font-family:'Poppins-Regular'">Are You Sure? You Want To Delete Data.</h4>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="#" class="btn btn-default" style="width:85px; font-size:13px" data-dismiss="modal" id="CancelDelete">Cancel</a>
                                            <a href="#" class="btn btn-primary" style="width:85px; font-size:13px" id="ConfirmDelete">Confirm</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<style type="text/css">
    a.disable {
        cursor: not-allowed;
    }
</style>

<script src="~/Scripts/plugin/bootstrap-waitingfor/bootstrap-waitingfor.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap/bootstrap.min.js"></script>

<script>

    // DO NOT REMOVE : GLOBAL FUNCTIONS!
    $(document).ready(function () {
        loadData();

        /* BASIC ;*/
        var responsiveHelper_dt_basic = undefined;
        var breakpointDefinition = {
            tablet: 1024,
            phone: 480
        };

        $("#tableID").dataTable({
            bDestroy: true,
            data: [],
            columns: [
                {
                    "data": "Action", className: "txtAlignCenter", "render": function (data, type, row) {
                        if ('@ViewBag.AllowUpdate' == '0') {
                            return '<a href="#" class="fa fa-user disable"></a> &nbsp; | &nbsp; <a href="#" class="fa fa-pencil disable"></a> &nbsp; | &nbsp; <a class="fa fa-trash-o disable"></a>'
                        } else {
                            return '<a href="#" class="fa fa-user" onclick="Privilege(\'' + row.GroupID + '\')" ></a> &nbsp; | &nbsp; <a href="#" class="fa fa-pencil" onclick="EditRecord(\'' + row.GroupID + '\')"></a> &nbsp; | &nbsp; <a href="#" class="fa fa-trash-o" onclick="DeleteRecord(\'' + row.GroupID + '\')"></a>'
                        }
                    }
                },
                { "data": "GroupID", "autoWidth": true, className: "txtAlignLeft" },
                { "data": "GroupDescription", "autoWidth": true, className: "txtAlignLeft" },
                { "data": "LastUser", "autoWidth": true, className: "txtAlignLeft" },
                { "data": "LastUpdate", "autoWidth": true, className: "txtAlignCenter" }

            ],

            rowCallback: function (row, data) { responsiveHelper_dt_basic.createExpandIcon(row) },
            filter: true,
            info: true,
            ordering: true,
            processing: true,
            retrieve: true,
            bLengthChange: false,
            lengthMenu: [[15, 20, -1], [15, 20, "All"]],
            bFilter: true,
            bSort: true,
            bPaginate: true,
            scrollX: true,
            scrollX: "105%",
            autoWidth: true,
            preDrawCallback: function () {
                // Initialize the responsive datatables helper once.
                if (!responsiveHelper_dt_basic) {
                    responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($('#tableID'), breakpointDefinition);
                }
            },
            drawCallback: function (oSettings) {
                responsiveHelper_dt_basic.respond();
            }
        });
        /* END BASIC */

        //load datatable function
        function loadData() {
            waitingDialog.show("Please wait retrieving data...");

            $.ajax({
                url: "@Url.Action("GetList", "UserGroup")",
                type: "post",
                dataType: "json"
            }).done(function (result) {
                $("#tableID").DataTable().clear();
                $("#tableID").DataTable().rows.add(result).draw(false);
                setTimeout(function () {
                    waitingDialog.hide();
                }, 1000);

            }).fail(function (jqXHR, textStatus, errorThrown) { 
                //toastr.error(jqXHR.status + " : " + jqXHR.responseText, 'Error', { timeOut: 3000, "closeButton": true });
                setTimeout(function () {
                    waitingDialog.hide();
                }, 1000);
            });
        }

        //insert event click
        $("#InsertData").click(function () {
            if ($("#form").valid()) {
                $('#hdn').css({ display: 'none' });
                var formData = new FormData();

                formData.append("GroupID", $("#GroupID").val());
                formData.append("GroupDescription", $("#GroupDescription").val());

                $.ajax({
                    type: "Post",
                    url: "@Url.Action("InsertUpdateData", "UserGroup")",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        if (!data.Success) {
                            toastr.warning(data.ErrorMessage, 'Warning', { timeOut: 3000, "closeButton": true });
                        } else {
                            loadData();
                            toastr.success("Data Saved Successfully!", 'Success', { timeOut: 3000, "closeButton": true });
                            $('#MyModal').modal('hide');
                            $('body').removeClass('modal-open');
                            $('.modal-backdrop').remove();
                        }
                    },
                    error: function (jqXHR, error, errorThrown) {
                        toastr.error(jqXHR.status + " : " + jqXHR.responseText, 'Error', { timeOut: 3000, "closeButton": true });
                        //console.log(data);
                    }
                })
            } else {
                $('#hdn').css({ display: 'block' });
            }
        });

        //update
        $("#UpdateData").click(function () {
            if ($("#form").valid()) {
                var formData = new FormData();

                formData.append("GroupID", $("#GroupID").val());
                formData.append("GroupDescription", $("#GroupDescription").val());
                
                $.ajax({
                    type: "Post",
                    url: "@Url.Action("InsertUpdateData", "UserGroup")",
                    dataType: "json",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        if (!data.Success) {
                            toastr.warning(data.ErrorMessage, 'Warning', { timeOut: 3000, "closeButton": true });
                        } else {
                            toastr.success("Data Update Successfully!", 'Success', { timeOut: 3000, "closeButton": true });
                            loadData();
                            $('#MyModal').modal('hide');
                            $('body').removeClass('modal-open');
                            $('.modal-backdrop').remove();
                        }
                    },
                    error: function (jqXHR, error, errorThrown) {
                        toastr.error(jqXHR.status + " : " + jqXHR.responseText, 'Error', { timeOut: 3000, "closeButton": true });
                        //console.log(data);
                    }
                })
            }
        })

        //confirm delete
        $("#ConfirmDelete").click(function () {
            var GroupID = $("#GroupID").val();
            var data = $("#SubmitForm").serialize();

            $.ajax({
                type: "Post",
                url: '@Url.Action("DeleteData", "UserGroup")',
                dataType: "json",
                data: data,
                success: function (data) {
                    if (!data.Success) {
                        toastr.warning(data.ErrorMessage, 'Warning', { timeOut: 3000, "closeButton": true });
                        $("#DeleteConfirmation").modal("hide");
                    }
                    else {
                        toastr.success("Data Delete Successfully!", 'Success', { timeOut: 3000, "closeButton": true });
                        $("#DeleteConfirmation").modal("hide");
                        $(".row_" + UserID).remove();
                        loadData();
                    }
                },
                error: function (jqXHR, error, errorThrown) {
                        toastr.error(jqXHR.status + " : " + jqXHR.responseText, 'Error', { timeOut: 3000, "closeButton": true });
                        //console.log(data);
                    }
            })
        });

    });

    //for reset required field after closed modal
    function resetForm() {
        var $form = $('#form');
        $form.validate().resetForm();
        $("#form").find('.form-group').removeClass("state-error");
        $("#form").find('.form-group').removeClass("state-success");
    }

    //Show The Popup Modal Add New
    function AddNewData() {
        resetForm();
        $("#GroupID").val();
        $("#GroupDescription").val();
        $("#ModalTitle").html("Create Data User Group");
        $("#MyModal").modal();
        $('#InsertData').show();
        $('#UpdateData').hide();
        $("#GroupID").prop('readonly', false);
    }

    //Function for clearing the textboxes
    function clearTextBox() {
        resetForm();
        $("#GroupID").val();
        $("#GroupDescription").val();
        $('#UpdateData').hide();
        $('#InsertData').show();
        $('#myModal').show();
        $("#GroupID").prop('readonly', false);
    }

    //Show The Popup Modal For Edit
    function EditRecord(User) {
        resetForm();
        $("#ModalTitle").html("Edit Data User Group");
        $("#MyModal").modal();
        $.ajax({
            type: "GET",
            url: "/UserGroup/GetDataByCode?",
            cache: false,
            data: ({ GroupID: User }),
            success: function (data) {
                
                var obj = JSON.parse(data);
                
                $.each(obj, function (key, val) {
                    $("#GroupID").val(val.GroupID).prop('readonly', true);
                    $("#GroupDescription").val(val.GroupDescription);
                })
                $('#InsertData').hide();
                $('#UpdateData').show();
            }
        })
    }

    //Show The Popup Modal For DeleteComfirmation
    var DeleteRecord = function (User) {
        $("#UserID").val(User);
        $("#DeleteConfirmation").modal("show");
    }

    function Privilege(id) {
        window.location.href = "/UserGroup/Detail?GroupID="+id;
    }

    $(function(){
     var msg = "@(TempData["Msg"] as string)";
        if (msg !== "") {
             toastr.success(msg, 'Success', { timeOut: 3000, "closeButton": true });
         }
    });
</script>

